.version.article_1 /* version checker */
{
	color: #0000F3;
	background-color: #3C3A12;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2201.6000000000004px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -124px;
	padding-bottom: 2px;
}

#pu3539
{
	width: 0.01px;
	margin-left: 4px;
}

#u3539
{
	z-index: 94;
	width: 100px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	background: transparent url("../images/btn_menu-normal.png") no-repeat left top;
	background-size: contain;
}

#u3539:hover
{
	margin: 106px -10000px 0px 0px;
	background: transparent url("../images/btn_menu-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3539:active
{
	margin: 106px -10000px 0px 0px;
	background: transparent url("../images/btn_menu-down.png") no-repeat left top;
	background-size: contain;
}

#u3558
{
	z-index: 52;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	left: 376px;
}

#u3534
{
	z-index: 55;
	width: 36px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 803px;
	background: transparent url("../images/btn_search-normal.png") no-repeat left top;
	background-size: contain;
}

#u3534:hover
{
	margin: 106px -10000px 0px 0px;
	background: transparent url("../images/btn_search-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3534:active
{
	margin: 106px -10000px 0px 0px;
	background: transparent url("../images/btn_search-down.png") no-repeat left top;
	background-size: contain;
}

#u3568
{
	z-index: 54;
	width: 100px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 852px;
	background: transparent url("../images/btn_login-normal.png") no-repeat left top;
	background-size: contain;
}

#u3568:hover
{
	margin: 106px -10000px 0px 0px;
	background: transparent url("../images/btn_login-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3568:active
{
	margin: 106px -10000px 0px 0px;
	background: transparent url("../images/btn_login-down.png") no-repeat left top;
	background-size: contain;
}

#u3546
{
	z-index: 48;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #D9D9D9;
}

#u3546-bw
{
	z-index: 48;
	height: 2px;
}

#pu3580
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u3580
{
	z-index: 49;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
}

#u3580-bw
{
	z-index: 49;
	margin-top: 41px;
	height: 2px;
}

#u3561
{
	z-index: 50;
	width: 960px;
	position: relative;
	margin-right: -10000px;
	left: 98px;
}

#u5849
{
	z-index: 134;
	width: 83px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 91px;
	background: transparent url("../images/vlast-normal.png") no-repeat left top;
	background-size: contain;
}

#u5849:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/vlast-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5850
{
	z-index: 135;
	width: 189px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 165px;
	background: transparent url("../images/fin_kont-normal.png") no-repeat left top;
	background-size: contain;
}

#u5850:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/fin_kont-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5851
{
	z-index: 136;
	width: 156px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 643px;
	background: transparent url("../images/biz_rin-normal.png") no-repeat left top;
	background-size: contain;
}

#u5851:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/biz_rin-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5852
{
	z-index: 137;
	width: 85px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 799px;
	background: transparent url("../images/otrasl-normal.png") no-repeat left top;
	background-size: contain;
}

#u5852:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/otrasl-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5853
{
	z-index: 138;
	width: 103px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 889px;
	background: transparent url("../images/obshestvo-normal.png") no-repeat left top;
	background-size: contain;
}

#u5853:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/obshestvo-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5854
{
	z-index: 139;
	width: 68px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 998px;
	background: transparent url("../images/obraz-normal.png") no-repeat left top;
	background-size: contain;
}

#u5854:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/obraz-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5855
{
	z-index: 140;
	width: 175px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 350px;
	background: transparent url("../images/sec_regul-normal.png") no-repeat left top;
	background-size: contain;
}

#u5855:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/sec_regul-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3553-4
{
	z-index: 60;
	width: 648px;
	min-height: 18px;
	background-color: transparent;
	color: #484848;
	font-size: 56px;
	letter-spacing: 0px;
	line-height: 67px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	margin-left: 4px;
	margin-top: 57px;
	position: relative;
}

#u3553-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 57px 0px 0px 4px;
}

#u3577
{
	z-index: 129;
	width: 243px;
	position: fixed;
	top: 241px;
	left: 713px;
}

#pu3590-4
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 19px;
}

#u3590-4
{
	z-index: 56;
	width: 78px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 200px;
}

#u3590-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 11px -10000px 0px 0px;
}

#u3590-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 11px -10000px 0px 0px;
}

#u3590-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3573
{
	z-index: 64;
	width: 86px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #B9DEDB;
	position: relative;
	margin-right: -10000px;
	left: 192px;
}

#u3606
{
	z-index: 131;
	width: 192px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bub_regul-normal.png") no-repeat left top;
	background-size: contain;
}

#u3606:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/bub_regul-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3557-4
{
	z-index: 95;
	width: 648px;
	min-height: 18px;
	background-color: transparent;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-left: 4px;
	margin-top: 77px;
	position: relative;
}

#u3557-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 77px 0px 0px 4px;
}

#u3541-9
{
	z-index: 65;
	width: 648px;
	min-height: 164px;
	text-indent: 10px;
	font-size: 17px;
	line-height: 27px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	margin-top: 31px;
	position: relative;
}

#u3541-2,#u3541-4,#u3541-6,#u3541-7
{
	padding-top: 10px;
}

#u3611
{
	z-index: 132;
	width: 648px;
	margin-left: 4px;
	position: relative;
}

#pu3550-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 55px;
}

#u3550-4
{
	z-index: 74;
	width: 72px;
	min-height: 32px;
	color: #6A6A6A;
	font-size: 17px;
	line-height: 27px;
	font-family: pt-serif, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u3537-4
{
	z-index: 78;
	width: 130px;
	min-height: 32px;
	color: #B4B4B4;
	font-size: 17px;
	line-height: 27px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#pu3549-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: -7px;
}

#u3549-4
{
	z-index: 82;
	width: 130px;
	min-height: 32px;
	color: #B4B4B4;
	font-size: 17px;
	line-height: 27px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 63px;
}

#u3586-4
{
	z-index: 86;
	width: 72px;
	min-height: 32px;
	color: #6A6A6A;
	font-size: 17px;
	line-height: 27px;
	font-family: pt-serif, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#pu3536-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: -6px;
}

#u3536-4
{
	z-index: 90;
	width: 72px;
	min-height: 32px;
	color: #6A6A6A;
	font-size: 17px;
	line-height: 27px;
	font-family: pt-serif, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u3560-4
{
	z-index: 99;
	width: 135px;
	min-height: 14px;
	background-color: #87C9C4;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 58px;
}

#u3570-4
{
	z-index: 103;
	width: 54px;
	min-height: 14px;
	background-color: #87C9C4;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 203px;
}

#u3560-4:active,#u3570-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 9px -10000px 0px 0px;
}

#u3553-4:active p,#u3557-4:active p,#u3560-4:active p,#u3570-4:active p
{
	text-decoration: none;
}

#u3575
{
	z-index: 107;
	width: 171px;
	margin-left: 4px;
	margin-top: 57px;
	position: relative;
}

#pu3547
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 31px;
}

#u3547
{
	z-index: 125;
	width: 162px;
	position: relative;
	margin-right: -10000px;
}

#pu3551-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 182px;
}

#u3551-4
{
	z-index: 109;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u3551-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u3551-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3582-4
{
	z-index: 117;
	width: 243px;
	min-height: 93px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u5902
{
	z-index: 141;
	width: 192px;
	height: 39px;
	margin-top: 11px;
	position: relative;
	background: transparent url("../images/bub_regul-normal.png") no-repeat left top;
	background-size: contain;
}

#u3584
{
	z-index: 127;
	width: 162px;
	position: relative;
	margin-right: -10000px;
	left: 466px;
}

#pu3563-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 648px;
}

#u3563-4
{
	z-index: 113;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u3551-4:active,#u3563-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u3563-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u3563-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3590-4:active p,#u3551-4:active p,#u3563-4:active p
{
	color: #87C9C4;
	visibility: inherit;
	text-decoration: none;
}

#u3591-4
{
	z-index: 121;
	width: 243px;
	min-height: 93px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u3582-4:hover,#u3591-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 93px;
	margin: 11px 0px 0px;
}

#u3582-4:hover p,#u3582-4:hover span,#u3591-4:hover p,#u3591-4:hover span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u3582,#u3591
{
	font-family: pt-serif, sans-serif;
	font-weight: 400;
}

#u5903
{
	z-index: 142;
	width: 192px;
	height: 39px;
	margin-top: 11px;
	position: relative;
	background: transparent url("../images/bub_regul-normal.png") no-repeat left top;
	background-size: contain;
}

#u5902:hover,#u5903:hover
{
	margin: 11px 0px 0px;
	background: transparent url("../images/bub_regul-rollover.png") no-repeat left top;
	background-size: contain;
}

#pu529
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 56px;
}

#u529,#u529-bw
{
	z-index: 2;
	height: 232px;
}

#u540,#u540-bw
{
	z-index: 3;
	height: 232px;
}

#u2860,#u2860-bw
{
	z-index: 4;
	height: 232px;
}

#u2861
{
	z-index: 5;
	padding-bottom: 22px;
}

#u2861_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#ppu534
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 104px;
}

#pu534
{
	width: 0.01px;
}

#u534
{
	z-index: 35;
	width: 118px;
	margin-right: -10000px;
}

#u536-11
{
	z-index: 37;
	width: 679px;
	min-height: 63px;
	margin-right: -10000px;
	left: 162px;
}

#pu530-4
{
	width: 0.01px;
	margin-top: 70px;
}

#u530-4
{
	z-index: 6;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
}

#u2862-4
{
	z-index: 14;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
	left: 110px;
}

#u531-4
{
	z-index: 10;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
	left: 221px;
}

#u532-4
{
	z-index: 18;
	width: 118px;
	min-height: 18px;
	margin-right: -10000px;
	left: 329px;
}

#u539-4
{
	z-index: 22;
	width: 168px;
	min-height: 18px;
	margin-right: -10000px;
	left: 485px;
}

#u542-4
{
	z-index: 26;
	width: 202px;
	min-height: 18px;
	margin-right: -10000px;
	left: 677px;
}

#u530-4:hover,#u2862-4:hover,#u531-4:hover,#u532-4:hover,#u539-4:hover,#u542-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u544-4
{
	z-index: 30;
	width: 48px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 192px;
	left: 1008px;
}

#u544-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 192px -10000px 0px 0px;
}

#u2861-bw
{
	z-index: 5;
	height: 210px;
}

#u533
{
	z-index: 34;
	height: 1px;
}

#u533-bw
{
	z-index: 34;
	margin-top: 169px;
	height: 1px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

