.version.article_5 /* version checker */
{
	color: #0000F9;
	background-color: #9F8037;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2483.6px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -124px;
	padding-bottom: 2px;
}

#pu3932
{
	width: 0.01px;
	margin-left: 4px;
}

#u3932
{
	z-index: 100;
	width: 100px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	background: transparent url("../images/btn_menu-normal.png") no-repeat left top;
	background-size: contain;
}

#u3932:hover
{
	margin: 106px -10000px 0px 0px;
	background: transparent url("../images/btn_menu-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3932:active
{
	margin: 106px -10000px 0px 0px;
	background: transparent url("../images/btn_menu-down.png") no-repeat left top;
	background-size: contain;
}

#u3911
{
	z-index: 52;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	left: 376px;
}

#u3916
{
	z-index: 55;
	width: 36px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 803px;
	background: transparent url("../images/btn_search-normal.png") no-repeat left top;
	background-size: contain;
}

#u3916:hover
{
	margin: 106px -10000px 0px 0px;
	background: transparent url("../images/btn_search-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3916:active
{
	margin: 106px -10000px 0px 0px;
	background: transparent url("../images/btn_search-down.png") no-repeat left top;
	background-size: contain;
}

#u3933
{
	z-index: 54;
	width: 100px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 852px;
	background: transparent url("../images/btn_login-normal.png") no-repeat left top;
	background-size: contain;
}

#u3933:hover
{
	margin: 106px -10000px 0px 0px;
	background: transparent url("../images/btn_login-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3933:active
{
	margin: 106px -10000px 0px 0px;
	background: transparent url("../images/btn_login-down.png") no-repeat left top;
	background-size: contain;
}

#u3899
{
	z-index: 48;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #D9D9D9;
}

#u3899-bw
{
	z-index: 48;
	height: 2px;
}

#pu3893
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u3893
{
	z-index: 49;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
}

#u3893-bw
{
	z-index: 49;
	margin-top: 41px;
	height: 2px;
}

#u3908
{
	z-index: 50;
	width: 960px;
	position: relative;
	margin-right: -10000px;
	left: 98px;
}

#u5885
{
	z-index: 132;
	width: 83px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 91px;
	background: transparent url("../images/vlast-normal.png") no-repeat left top;
	background-size: contain;
}

#u5885:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/vlast-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5886
{
	z-index: 133;
	width: 189px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 165px;
	background: transparent url("../images/fin_kont-normal.png") no-repeat left top;
	background-size: contain;
}

#u5886:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/fin_kont-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5887
{
	z-index: 134;
	width: 156px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 643px;
	background: transparent url("../images/biz_rin-normal.png") no-repeat left top;
	background-size: contain;
}

#u5887:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/biz_rin-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5888
{
	z-index: 135;
	width: 85px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 799px;
	background: transparent url("../images/otrasl-normal.png") no-repeat left top;
	background-size: contain;
}

#u5888:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/otrasl-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5889
{
	z-index: 136;
	width: 103px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 889px;
	background: transparent url("../images/obshestvo-normal.png") no-repeat left top;
	background-size: contain;
}

#u5889:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/obshestvo-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5890
{
	z-index: 137;
	width: 68px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 998px;
	background: transparent url("../images/obraz-normal.png") no-repeat left top;
	background-size: contain;
}

#u5890:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/obraz-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5891
{
	z-index: 138;
	width: 175px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 350px;
	background: transparent url("../images/sec_regul-normal.png") no-repeat left top;
	background-size: contain;
}

#u5891:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/sec_regul-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3891-4
{
	z-index: 60;
	width: 648px;
	min-height: 18px;
	background-color: transparent;
	color: #484848;
	font-size: 56px;
	letter-spacing: 0px;
	line-height: 67px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	margin-left: 4px;
	margin-top: 57px;
	position: relative;
}

#u3891-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 57px 0px 0px 4px;
}

#u3928
{
	z-index: 127;
	width: 243px;
	position: fixed;
	top: 241px;
	left: 713px;
}

#pu3903
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 45px;
}

#u3903
{
	z-index: 129;
	width: 120px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bub_obshestvo-normal.png") no-repeat left top;
	background-size: contain;
}

#u3903:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/bub_obshestvo-rollover.png") no-repeat left top;
	background-size: contain;
}

#pu3898
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 120px;
}

#u3898
{
	z-index: 64;
	width: 86px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #B9DEDB;
	position: relative;
}

#u3922-4
{
	z-index: 56;
	width: 78px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 8px;
	margin-top: 9px;
	position: relative;
}

#u3922-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px 0px 0px 8px;
}

#u3922-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px 0px 0px 8px;
}

#u3922-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3890-4
{
	z-index: 65;
	width: 648px;
	min-height: 99px;
	text-indent: 10px;
	font-size: 17px;
	line-height: 27px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	margin-top: 44px;
	position: relative;
}

#u3943
{
	z-index: 130;
	width: 648px;
	margin-left: 4px;
	margin-top: 41px;
	position: relative;
}

#u3901-7
{
	z-index: 69;
	width: 648px;
	min-height: 98px;
	text-indent: 10px;
	font-size: 17px;
	line-height: 27px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	margin-top: 38px;
	position: relative;
}

#u3950-4
{
	z-index: 76;
	width: 648px;
	min-height: 98px;
	text-indent: 10px;
	font-size: 17px;
	line-height: 27px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	margin-top: 19px;
	position: relative;
}

#u3890-2,#u3901-2,#u3901-4,#u3901-5,#u3950-2
{
	padding-top: 10px;
}

#pu3888-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 67px;
}

#u3888-4
{
	z-index: 80;
	width: 72px;
	min-height: 32px;
	color: #6A6A6A;
	font-size: 17px;
	line-height: 27px;
	font-family: pt-serif, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u3914-4
{
	z-index: 84;
	width: 130px;
	min-height: 32px;
	color: #B4B4B4;
	font-size: 17px;
	line-height: 27px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u3902-4
{
	z-index: 88;
	width: 130px;
	min-height: 32px;
	color: #B4B4B4;
	font-size: 17px;
	line-height: 27px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 63px;
}

#u3923-4
{
	z-index: 92;
	width: 72px;
	min-height: 32px;
	color: #6A6A6A;
	font-size: 17px;
	line-height: 27px;
	font-family: pt-serif, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#pu3902-4,#pu3895-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: -6px;
}

#u3895-4
{
	z-index: 96;
	width: 72px;
	min-height: 32px;
	color: #6A6A6A;
	font-size: 17px;
	line-height: 27px;
	font-family: pt-serif, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u3882-4
{
	z-index: 101;
	width: 64px;
	min-height: 14px;
	background-color: #87C9C4;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 58px;
}

#u3882-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 9px -10000px 0px 0px;
}

#u3891-4:active p,#u3882-4:active p
{
	text-decoration: none;
}

#u3885
{
	z-index: 105;
	width: 171px;
	margin-left: 4px;
	margin-top: 57px;
	position: relative;
}

#pu3878
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 31px;
}

#u3878
{
	z-index: 123;
	width: 162px;
	position: relative;
	margin-right: -10000px;
}

#pu3925-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 178px;
}

#u3925-4
{
	z-index: 107;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-left: 4px;
	position: relative;
}

#u3925-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px 0px 0px 4px;
}

#u3925-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px 0px 0px 4px;
}

#u3925-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3921-4
{
	z-index: 115;
	width: 243px;
	min-height: 93px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	margin-top: 11px;
	position: relative;
}

#u3921-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 93px;
	margin: 11px 0px 0px 4px;
}

#u5892
{
	z-index: 139;
	width: 192px;
	height: 39px;
	margin-top: 10px;
	position: relative;
	background: transparent url("../images/bub_regul-normal.png") no-repeat left top;
	background-size: contain;
}

#u3918
{
	z-index: 125;
	width: 162px;
	position: relative;
	margin-right: -10000px;
	left: 466px;
}

#pu3920-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 648px;
}

#u3920-4
{
	z-index: 111;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u3920-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u3920-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u3920-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3922-4:active p,#u3925-4:active p,#u3920-4:active p
{
	color: #87C9C4;
	visibility: inherit;
	text-decoration: none;
}

#u3910-4
{
	z-index: 119;
	width: 243px;
	min-height: 93px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u3910-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 93px;
	margin: 11px 0px 0px;
}

#u3921-4:hover p,#u3921-4:hover span,#u3910-4:hover p,#u3910-4:hover span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u3921,#u3910
{
	font-family: pt-serif, sans-serif;
	font-weight: 400;
}

#u5894
{
	z-index: 140;
	width: 192px;
	height: 39px;
	margin-top: 10px;
	position: relative;
	background: transparent url("../images/bub_regul-normal.png") no-repeat left top;
	background-size: contain;
}

#u5892:hover,#u5894:hover
{
	margin: 10px 0px 0px;
	background: transparent url("../images/bub_regul-rollover.png") no-repeat left top;
	background-size: contain;
}

#pu529
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 66px;
}

#u529,#u529-bw
{
	z-index: 2;
	height: 232px;
}

#u540,#u540-bw
{
	z-index: 3;
	height: 232px;
}

#u2860,#u2860-bw
{
	z-index: 4;
	height: 232px;
}

#u2861
{
	z-index: 5;
	padding-bottom: 22px;
}

#u2861_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#ppu534
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 104px;
}

#pu534
{
	width: 0.01px;
}

#u534
{
	z-index: 35;
	width: 118px;
	margin-right: -10000px;
}

#u536-11
{
	z-index: 37;
	width: 679px;
	min-height: 63px;
	margin-right: -10000px;
	left: 162px;
}

#pu530-4
{
	width: 0.01px;
	margin-top: 70px;
}

#u530-4
{
	z-index: 6;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
}

#u2862-4
{
	z-index: 14;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
	left: 110px;
}

#u531-4
{
	z-index: 10;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
	left: 221px;
}

#u532-4
{
	z-index: 18;
	width: 118px;
	min-height: 18px;
	margin-right: -10000px;
	left: 329px;
}

#u539-4
{
	z-index: 22;
	width: 168px;
	min-height: 18px;
	margin-right: -10000px;
	left: 485px;
}

#u542-4
{
	z-index: 26;
	width: 202px;
	min-height: 18px;
	margin-right: -10000px;
	left: 677px;
}

#u530-4:hover,#u2862-4:hover,#u531-4:hover,#u532-4:hover,#u539-4:hover,#u542-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u544-4
{
	z-index: 30;
	width: 48px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 192px;
	left: 1008px;
}

#u544-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 192px -10000px 0px 0px;
}

#u2861-bw
{
	z-index: 5;
	height: 210px;
}

#u533
{
	z-index: 34;
	height: 1px;
}

#u533-bw
{
	z-index: 34;
	margin-top: 169px;
	height: 1px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

