.version.feed /* version checker */
{
	color: #000019;
	background-color: #5D9915;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 502px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 2px;
}

#pu2029-4
{
	width: 0.01px;
	margin-left: 4px;
}

#u2029-4
{
	z-index: 49;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
}

#u2045
{
	z-index: 45;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	left: 376px;
}

#u2050
{
	z-index: 48;
	width: 36px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 803px;
	background: transparent url("../images/btn_search-normal.png") no-repeat left top;
	background-size: contain;
}

#u2050:hover
{
	margin: 18px -10000px 0px 0px;
	background: transparent url("../images/btn_search-rollover.png") no-repeat left top;
	background-size: contain;
}

#u2050:active
{
	margin: 18px -10000px 0px 0px;
	background: transparent url("../images/btn_search-down.png") no-repeat left top;
	background-size: contain;
}

#u1975
{
	z-index: 47;
	width: 100px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 852px;
	background: transparent url("../images/btn_login-normal.png") no-repeat left top;
	background-size: contain;
}

#u1975:hover
{
	margin: 18px -10000px 0px 0px;
	background: transparent url("../images/btn_login-rollover.png") no-repeat left top;
	background-size: contain;
}

#u1975:active
{
	margin: 18px -10000px 0px 0px;
	background: transparent url("../images/btn_login-down.png") no-repeat left top;
	background-size: contain;
}

#u2025-4
{
	z-index: 53;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 103px;
}

#u2028-4
{
	z-index: 57;
	width: 118px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 200px;
}

#u2029-4:hover,#u2025-4:hover,#u2028-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 27px -10000px 0px 0px;
}

#u2029-4:hover p,#u2025-4:hover p,#u2028-4:hover p
{
	text-decoration: underline;
}

#u2031
{
	z-index: 61;
	width: 606px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #D9D9D9;
	left: -606px;
	position: relative;
}

#pu2026
{
	width: 0.01px;
	margin-left: -606px;
	margin-top: -2px;
}

#u2026
{
	z-index: 42;
	border-style: none;
	border-color: transparent;
	background-color: #FDFCFB;
}

#u2026_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 67px;
	padding-bottom: 45px;
}

#u2071
{
	z-index: 523;
	width: 952px;
	border-style: none;
	border-color: transparent;
	background-color: #DADADA;
	padding-bottom: 7px;
	left: 104px;
	position: relative;
}

#u2072-4
{
	z-index: 525;
	width: 84px;
	min-height: 16px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 21px;
}

#u1984-4
{
	z-index: 285;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1997-4
{
	z-index: 69;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u1978-4
{
	z-index: 309;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2013-4
{
	z-index: 93;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2000-4
{
	z-index: 333;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2006-4
{
	z-index: 117;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2016-4
{
	z-index: 357;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2015-4
{
	z-index: 141;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2044-4
{
	z-index: 381;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2030-4
{
	z-index: 165;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u1992-4
{
	z-index: 405;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u1988-4
{
	z-index: 189;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u1983-4
{
	z-index: 429;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1996-4
{
	z-index: 213;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2048-4
{
	z-index: 453;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2043-4
{
	z-index: 237;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2009-4
{
	z-index: 477;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u1979-4
{
	z-index: 261;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2073-4
{
	z-index: 533;
	width: 93px;
	min-height: 16px;
	color: #87C9C4;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	left: 104px;
	margin-top: 50px;
	position: relative;
}

#u2017
{
	z-index: 64;
	width: 952px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	left: 104px;
	margin-top: 1px;
	position: relative;
}

#u2074-4
{
	z-index: 293;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2091-4
{
	z-index: 77;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2077-4
{
	z-index: 317;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2080-4
{
	z-index: 101;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2087-4
{
	z-index: 341;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2090-4
{
	z-index: 125;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2076-4
{
	z-index: 365;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2075-4
{
	z-index: 149;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2078-4
{
	z-index: 389;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2079-4
{
	z-index: 173;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2081-4
{
	z-index: 413;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2088-4
{
	z-index: 197;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2084-4
{
	z-index: 437;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u2083-4
{
	z-index: 221;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2085-4
{
	z-index: 461;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 324px;
}

#u2086-4
{
	z-index: 245;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2082-4
{
	z-index: 485;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 648px;
}

#u2089-4
{
	z-index: 269;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2092-4
{
	z-index: 537;
	width: 93px;
	min-height: 16px;
	color: #87C9C4;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	left: 104px;
	margin-top: 50px;
	position: relative;
}

#u2093
{
	z-index: 66;
	width: 952px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	left: 104px;
	position: relative;
}

#u2095-4
{
	z-index: 301;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2094-4
{
	z-index: 85;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2096-4
{
	z-index: 325;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2111-4
{
	z-index: 109;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2099-4
{
	z-index: 349;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2103-4
{
	z-index: 133;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2101-4
{
	z-index: 373;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2098-4
{
	z-index: 157;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2102-4
{
	z-index: 397;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2097-4
{
	z-index: 181;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2100-4
{
	z-index: 421;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2104-4
{
	z-index: 205;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2108-4
{
	z-index: 445;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2106-4
{
	z-index: 229;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2110-4
{
	z-index: 469;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2105-4
{
	z-index: 253;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2109-4
{
	z-index: 493;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2107-4
{
	z-index: 277;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2131-4
{
	z-index: 541;
	width: 304px;
	min-height: 16px;
	color: #87C9C4;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	left: 104px;
	margin-top: 59px;
	position: relative;
}

#u2130
{
	z-index: 67;
	width: 952px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	left: 104px;
	margin-top: 1px;
	position: relative;
}

#u2129-4
{
	z-index: 305;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2126-4
{
	z-index: 89;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2127-4
{
	z-index: 329;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2125-4
{
	z-index: 113;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2128-4
{
	z-index: 353;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2124-4
{
	z-index: 137;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2123-4
{
	z-index: 377;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2118-4
{
	z-index: 161;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2120-4
{
	z-index: 401;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2115-4
{
	z-index: 185;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2121-4
{
	z-index: 425;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2116-4
{
	z-index: 209;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2122-4
{
	z-index: 449;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2119-4
{
	z-index: 233;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2117-4
{
	z-index: 473;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2114-4
{
	z-index: 257;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2113-4
{
	z-index: 497;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2112-4
{
	z-index: 281;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2132
{
	z-index: 524;
	width: 952px;
	border-style: none;
	border-color: transparent;
	background-color: #DADADA;
	padding-bottom: 7px;
	left: 104px;
	margin-top: 58px;
	position: relative;
}

#u2133-4
{
	z-index: 529;
	width: 84px;
	min-height: 16px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 21px;
}

#pu1984-4,#pu2135-4
{
	width: 0.01px;
	left: 104px;
	margin-top: 30px;
	position: relative;
}

#u2135-4
{
	z-index: 289;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2134-4
{
	z-index: 73;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2137-4
{
	z-index: 313;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2141-4
{
	z-index: 97;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2143-4
{
	z-index: 337;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2151-4
{
	z-index: 121;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2139-4
{
	z-index: 361;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2136-4
{
	z-index: 145;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2138-4
{
	z-index: 385;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2140-4
{
	z-index: 169;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2142-4
{
	z-index: 409;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2150-4
{
	z-index: 193;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2148-4
{
	z-index: 433;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2145-4
{
	z-index: 217;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2146-4
{
	z-index: 457;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2147-4
{
	z-index: 241;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2144-4
{
	z-index: 481;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2149-4
{
	z-index: 265;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2536-4
{
	z-index: 545;
	width: 132px;
	min-height: 16px;
	color: #87C9C4;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	left: 104px;
	margin-top: 68px;
	position: relative;
}

#u2153
{
	z-index: 65;
	width: 952px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	left: 104px;
	position: relative;
}

#pu2074-4,#pu2095-4,#pu2129-4,#pu2158-4
{
	width: 0.01px;
	left: 104px;
	margin-top: 29px;
	position: relative;
}

#u2158-4
{
	z-index: 297;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2154-4
{
	z-index: 81;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2157-4
{
	z-index: 321;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2155-4
{
	z-index: 105;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2156-4
{
	z-index: 345;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2159-4
{
	z-index: 129;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#pu2016-4,#pu2076-4,#pu2084-4,#pu2101-4,#pu2123-4,#pu2122-4,#pu2148-4,#pu2160-4
{
	width: 0.01px;
	left: 104px;
	margin-top: 17px;
	position: relative;
}

#u2160-4
{
	z-index: 369;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2163-4
{
	z-index: 153;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2161-4
{
	z-index: 393;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2165-4
{
	z-index: 177;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2164-4
{
	z-index: 417;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2162-4
{
	z-index: 201;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#pu1983-4,#pu2108-4,#pu2139-4,#pu2171-4
{
	width: 0.01px;
	left: 104px;
	margin-top: 18px;
	position: relative;
}

#u2171-4
{
	z-index: 441;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2167-4
{
	z-index: 225;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2169-4
{
	z-index: 465;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2166-4
{
	z-index: 249;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2170-4
{
	z-index: 489;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2168-4
{
	z-index: 273;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2026-bw
{
	z-index: 42;
	margin-top: 42px;
	height: 2165px;
}

#u2022
{
	z-index: 43;
	width: 960px;
	position: relative;
	margin-right: -10000px;
	left: 606px;
}

#u1985
{
	z-index: 62;
	width: 606px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #D9D9D9;
	position: relative;
	margin-right: -10000px;
	left: 1566px;
}

#u2010
{
	z-index: 63;
	width: 606px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
}

#u2041
{
	z-index: 68;
	width: 606px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 1566px;
}

#u2003
{
	z-index: 515;
	width: 83px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 597px;
	background: transparent url("../images/vlast-normal.png") no-repeat left top;
	background-size: contain;
}

#u2003:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/vlast-rollover.png") no-repeat left top;
	background-size: contain;
}

#u2011
{
	z-index: 516;
	width: 189px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 679px;
	background: transparent url("../images/fin_kont-normal.png") no-repeat left top;
	background-size: contain;
}

#u2011:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/fin_kont-rollover.png") no-repeat left top;
	background-size: contain;
}

#u2032
{
	z-index: 517;
	width: 156px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 871px;
	background: transparent url("../images/biz_rin-normal.png") no-repeat left top;
	background-size: contain;
}

#u2032:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/biz_rin-rollover.png") no-repeat left top;
	background-size: contain;
}

#u2005
{
	z-index: 518;
	width: 148px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1149px;
	background: transparent url("../images/regul-normal.png") no-repeat left top;
	background-size: contain;
}

#u2005:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/regul-rollover.png") no-repeat left top;
	background-size: contain;
}

#u1986
{
	z-index: 519;
	width: 85px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1304px;
	background: transparent url("../images/otrasl-normal.png") no-repeat left top;
	background-size: contain;
}

#u1986:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/otrasl-rollover.png") no-repeat left top;
	background-size: contain;
}

#u2033
{
	z-index: 520;
	width: 103px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 1396px;
	background: transparent url("../images/obshestvo-normal.png") no-repeat left top;
	background-size: contain;
}

#u2033:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/obshestvo-rollover.png") no-repeat left top;
	background-size: contain;
}

#u2061
{
	z-index: 521;
	width: 68px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 1505px;
	background: transparent url("../images/obraz-normal.png") no-repeat left top;
	background-size: contain;
}

#u2061:hover
{
	margin: 10px -10000px 0px 0px;
	background: transparent url("../images/obraz-rollover.png") no-repeat left top;
	background-size: contain;
}

#u2070
{
	z-index: 522;
	width: 94px;
	height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 610px;
	background: transparent url("../images/btn_feed-normal.png") no-repeat left top;
	background-size: contain;
}

#u2070:hover
{
	margin: 63px -10000px 0px 0px;
	background: transparent url("../images/btn_feed-rollover.png") no-repeat left top;
	background-size: contain;
}

#u2024
{
	z-index: 513;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #E8E8E8;
}

#u2024-bw
{
	z-index: 513;
	height: 1px;
}

#pu2034-4
{
	width: 0.01px;
	margin-left: 450px;
	margin-top: 20px;
}

#u2034-4
{
	z-index: 501;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #00A99D;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
}

#u2034-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u2034-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u2042-4
{
	z-index: 505;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #525252;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	left: 24px;
}

#u2034-4:active,#u2042-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u2042-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u2004-4
{
	z-index: 509;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #525252;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u2042-4:active,#u2004-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u2004-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u2034-4:active p,#u2042-4:active p,#u2004-4:active p
{
	color: #87C9C4;
	visibility: inherit;
	text-decoration: none;
}

#u1977
{
	z-index: 514;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #E8E8E8;
}

#u1977-bw
{
	z-index: 514;
	margin-top: 14px;
	height: 1px;
}

#pu529
{
	width: 0.01px;
	margin-left: -100px;
}

#u529,#u529-bw
{
	z-index: 2;
	height: 232px;
}

#u540
{
	z-index: 3;
	padding-bottom: 22px;
}

#u540_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu534
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 104px;
}

#u534
{
	z-index: 29;
	width: 118px;
}

#u530-4
{
	z-index: 4;
	width: 98px;
	min-height: 18px;
	margin-top: 78px;
}

#u530-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 78px 0px 0px;
}

#pu536-11
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 233px;
}

#u536-11
{
	z-index: 31;
	width: 679px;
	min-height: 63px;
	margin-left: 33px;
}

#pu531-4
{
	width: 0.01px;
	margin-top: 70px;
}

#u531-4
{
	z-index: 8;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
}

#u532-4
{
	z-index: 12;
	width: 118px;
	min-height: 18px;
	margin-right: -10000px;
	left: 126px;
}

#u539-4
{
	z-index: 16;
	width: 168px;
	min-height: 18px;
	margin-right: -10000px;
	left: 307px;
}

#u542-4
{
	z-index: 20;
	width: 202px;
	min-height: 18px;
	margin-right: -10000px;
	left: 525px;
}

#u2004-4:active,#u531-4:hover,#u532-4:hover,#u539-4:hover,#u542-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u544-4
{
	z-index: 24;
	width: 48px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 192px;
	left: 1008px;
}

#u544-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 192px -10000px 0px 0px;
}

#u540-bw
{
	z-index: 3;
	height: 210px;
}

#u533
{
	z-index: 28;
	height: 1px;
}

#u533-bw
{
	z-index: 28;
	margin-top: 169px;
	height: 1px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

