.version.feed /* version checker */
{
	color: #000013;
	background-color: #10CC60;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 502px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 2px;
}

#u1975
{
	z-index: 53;
	width: 100px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 956px;
	background: transparent url("../images/btn_login-normal.png") no-repeat left top;
	background-size: contain;
}

#u1975:hover
{
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/btn_login-rollover.png") no-repeat left top;
	background-size: contain;
}

#u1975:active
{
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/btn_login-down.png") no-repeat left top;
	background-size: contain;
}

#u2050
{
	z-index: 54;
	width: 36px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 907px;
	background: transparent url("../images/btn_search-normal.png") no-repeat left top;
	background-size: contain;
}

#u2050:hover
{
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/btn_search-rollover.png") no-repeat left top;
	background-size: contain;
}

#u2050:active
{
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/btn_search-down.png") no-repeat left top;
	background-size: contain;
}

#u5812
{
	z-index: 466;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
}

#u5812-bw
{
	z-index: 466;
	margin-top: 46px;
	height: 2px;
}

#u5813-4
{
	z-index: 467;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 119px;
}

#u5814-4
{
	z-index: 471;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 358px;
}

#u5815-4
{
	z-index: 475;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 242px;
}

#u5813-4:hover,#u5814-4:hover,#u5815-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 18px -10000px 0px 0px;
}

#u2045
{
	z-index: 555;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u5807
{
	z-index: 49;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #D9D9D9;
}

#u5807-bw
{
	z-index: 49;
	height: 2px;
}

#pu2026
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u2026
{
	z-index: 48;
	border-style: none;
	border-color: transparent;
	background-color: #FDFCFB;
}

#u2026_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 67px;
	padding-bottom: 45px;
}

#u2071
{
	z-index: 438;
	width: 952px;
	border-style: none;
	border-color: transparent;
	background-color: #DADADA;
	padding-bottom: 7px;
	left: 104px;
	position: relative;
}

#u2072-4
{
	z-index: 440;
	width: 84px;
	min-height: 16px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 21px;
}

#pu5825-4
{
	width: 0.01px;
	left: 105px;
	margin-top: 31px;
	position: relative;
}

#u5825-4
{
	z-index: 517;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u5816-6
{
	z-index: 479;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u5832-4
{
	z-index: 545;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 320px;
}

#u5823-4
{
	z-index: 509;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 368px;
}

#u5831-4
{
	z-index: 541;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 644px;
}

#u5822-4
{
	z-index: 505;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 691px;
}

#pu5826-4
{
	width: 0.01px;
	left: 105px;
	margin-top: 16px;
	position: relative;
}

#u5826-4
{
	z-index: 521;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u5817-4
{
	z-index: 485;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u5827-4
{
	z-index: 525;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 320px;
}

#u5818-4
{
	z-index: 489;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 367px;
}

#u5830-4
{
	z-index: 537;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 644px;
}

#u5821-4
{
	z-index: 501;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 691px;
}

#u5823-4:hover,#u5822-4:hover,#u5821-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 4px -10000px 0px 0px;
}

#pu5833-4
{
	width: 0.01px;
	left: 105px;
	margin-top: 18px;
	position: relative;
}

#u5833-4
{
	z-index: 549;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u5824-4
{
	z-index: 513;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u5828-4
{
	z-index: 529;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 320px;
}

#u5819-4
{
	z-index: 493;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 367px;
}

#u5829-4
{
	z-index: 533;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 644px;
}

#u5820-4
{
	z-index: 497;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 691px;
}

#u5818-4:hover,#u5824-4:hover,#u5819-4:hover,#u5820-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2073-4
{
	z-index: 448;
	width: 93px;
	min-height: 16px;
	color: #87C9C4;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	left: 104px;
	margin-top: 56px;
	position: relative;
}

#u2017
{
	z-index: 55;
	width: 952px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	left: 104px;
	margin-top: 1px;
	position: relative;
}

#u2074-4
{
	z-index: 243;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2091-4
{
	z-index: 63;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2077-4
{
	z-index: 263;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2080-4
{
	z-index: 83;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2087-4
{
	z-index: 283;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2090-4
{
	z-index: 103;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2076-4
{
	z-index: 303;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2075-4
{
	z-index: 123;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2078-4
{
	z-index: 323;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2079-4
{
	z-index: 143;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2081-4
{
	z-index: 343;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2088-4
{
	z-index: 163;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2084-4
{
	z-index: 363;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u2083-4
{
	z-index: 183;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2085-4
{
	z-index: 383;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 324px;
}

#u2086-4
{
	z-index: 203;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2082-4
{
	z-index: 403;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 648px;
}

#u2089-4
{
	z-index: 223;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2092-4
{
	z-index: 452;
	width: 93px;
	min-height: 16px;
	color: #87C9C4;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	left: 104px;
	margin-top: 50px;
	position: relative;
}

#u2093
{
	z-index: 57;
	width: 952px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	left: 104px;
	position: relative;
}

#u2095-4
{
	z-index: 251;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2094-4
{
	z-index: 71;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2096-4
{
	z-index: 271;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2111-4
{
	z-index: 91;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2099-4
{
	z-index: 291;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2103-4
{
	z-index: 111;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2101-4
{
	z-index: 311;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2098-4
{
	z-index: 131;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2102-4
{
	z-index: 331;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2097-4
{
	z-index: 151;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2100-4
{
	z-index: 351;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2104-4
{
	z-index: 171;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2108-4
{
	z-index: 371;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2106-4
{
	z-index: 191;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2110-4
{
	z-index: 391;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2105-4
{
	z-index: 211;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2109-4
{
	z-index: 411;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2107-4
{
	z-index: 231;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2131-4
{
	z-index: 456;
	width: 304px;
	min-height: 16px;
	color: #87C9C4;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	left: 104px;
	margin-top: 59px;
	position: relative;
}

#u2130
{
	z-index: 58;
	width: 952px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	left: 104px;
	margin-top: 1px;
	position: relative;
}

#u2129-4
{
	z-index: 255;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2126-4
{
	z-index: 75;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2127-4
{
	z-index: 275;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2125-4
{
	z-index: 95;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2128-4
{
	z-index: 295;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2124-4
{
	z-index: 115;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2123-4
{
	z-index: 315;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2118-4
{
	z-index: 135;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2120-4
{
	z-index: 335;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2115-4
{
	z-index: 155;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2121-4
{
	z-index: 355;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2116-4
{
	z-index: 175;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2122-4
{
	z-index: 375;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2119-4
{
	z-index: 195;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2117-4
{
	z-index: 395;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2114-4
{
	z-index: 215;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2113-4
{
	z-index: 415;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2112-4
{
	z-index: 235;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2132
{
	z-index: 439;
	width: 952px;
	border-style: none;
	border-color: transparent;
	background-color: #DADADA;
	padding-bottom: 7px;
	left: 104px;
	margin-top: 58px;
	position: relative;
}

#u2133-4
{
	z-index: 444;
	width: 84px;
	min-height: 16px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 21px;
}

#pu2135-4
{
	width: 0.01px;
	left: 104px;
	margin-top: 30px;
	position: relative;
}

#u2135-4
{
	z-index: 239;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2134-4
{
	z-index: 59;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2137-4
{
	z-index: 259;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2141-4
{
	z-index: 79;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2143-4
{
	z-index: 279;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2151-4
{
	z-index: 99;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2139-4
{
	z-index: 299;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2136-4
{
	z-index: 119;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2138-4
{
	z-index: 319;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2140-4
{
	z-index: 139;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2142-4
{
	z-index: 339;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2150-4
{
	z-index: 159;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2148-4
{
	z-index: 359;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2145-4
{
	z-index: 179;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2146-4
{
	z-index: 379;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2147-4
{
	z-index: 199;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2144-4
{
	z-index: 399;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2149-4
{
	z-index: 219;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u2536-4
{
	z-index: 460;
	width: 132px;
	min-height: 16px;
	color: #87C9C4;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	left: 104px;
	margin-top: 68px;
	position: relative;
}

#u2153
{
	z-index: 56;
	width: 952px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	left: 104px;
	position: relative;
}

#pu2074-4,#pu2095-4,#pu2129-4,#pu2158-4
{
	width: 0.01px;
	left: 104px;
	margin-top: 29px;
	position: relative;
}

#u2158-4
{
	z-index: 247;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2154-4
{
	z-index: 67;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2157-4
{
	z-index: 267;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2155-4
{
	z-index: 87;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2156-4
{
	z-index: 287;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2159-4
{
	z-index: 107;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#pu2076-4,#pu2084-4,#pu2101-4,#pu2123-4,#pu2122-4,#pu2148-4,#pu2160-4
{
	width: 0.01px;
	left: 104px;
	margin-top: 17px;
	position: relative;
}

#u2160-4
{
	z-index: 307;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2163-4
{
	z-index: 127;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2161-4
{
	z-index: 327;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2165-4
{
	z-index: 147;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2164-4
{
	z-index: 347;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2162-4
{
	z-index: 167;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#pu2108-4,#pu2139-4,#pu2171-4
{
	width: 0.01px;
	left: 104px;
	margin-top: 18px;
	position: relative;
}

#u2171-4
{
	z-index: 367;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2167-4
{
	z-index: 187;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2169-4
{
	z-index: 387;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 324px;
}

#u2166-4
{
	z-index: 207;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u2170-4
{
	z-index: 407;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#u2168-4
{
	z-index: 227;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#u5816-6:hover,#u5817-4:hover,#u2091-4:hover,#u2080-4:hover,#u2090-4:hover,#u2075-4:hover,#u2079-4:hover,#u2088-4:hover,#u2083-4:hover,#u2086-4:hover,#u2089-4:hover,#u2094-4:hover,#u2111-4:hover,#u2103-4:hover,#u2098-4:hover,#u2097-4:hover,#u2104-4:hover,#u2106-4:hover,#u2105-4:hover,#u2107-4:hover,#u2126-4:hover,#u2125-4:hover,#u2124-4:hover,#u2118-4:hover,#u2115-4:hover,#u2116-4:hover,#u2119-4:hover,#u2114-4:hover,#u2112-4:hover,#u2134-4:hover,#u2141-4:hover,#u2151-4:hover,#u2136-4:hover,#u2140-4:hover,#u2150-4:hover,#u2145-4:hover,#u2147-4:hover,#u2149-4:hover,#u2154-4:hover,#u2155-4:hover,#u2159-4:hover,#u2163-4:hover,#u2165-4:hover,#u2162-4:hover,#u2167-4:hover,#u2166-4:hover,#u2168-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 69px;
	margin: 0px -10000px 0px 0px;
}

#u5813-4:hover p,#u5814-4:hover p,#u5815-4:hover p,#u5816-6:hover p,#u5823-4:hover p,#u5822-4:hover p,#u5817-4:hover p,#u5818-4:hover p,#u5821-4:hover p,#u5824-4:hover p,#u5819-4:hover p,#u5820-4:hover p,#u2091-4:hover p,#u2080-4:hover p,#u2090-4:hover p,#u2075-4:hover p,#u2079-4:hover p,#u2088-4:hover p,#u2083-4:hover p,#u2086-4:hover p,#u2089-4:hover p,#u2094-4:hover p,#u2111-4:hover p,#u2103-4:hover p,#u2098-4:hover p,#u2097-4:hover p,#u2104-4:hover p,#u2106-4:hover p,#u2105-4:hover p,#u2107-4:hover p,#u2126-4:hover p,#u2125-4:hover p,#u2124-4:hover p,#u2118-4:hover p,#u2115-4:hover p,#u2116-4:hover p,#u2119-4:hover p,#u2114-4:hover p,#u2112-4:hover p,#u2134-4:hover p,#u2141-4:hover p,#u2151-4:hover p,#u2136-4:hover p,#u2140-4:hover p,#u2150-4:hover p,#u2145-4:hover p,#u2147-4:hover p,#u2149-4:hover p,#u2154-4:hover p,#u2155-4:hover p,#u2159-4:hover p,#u2163-4:hover p,#u2165-4:hover p,#u2162-4:hover p,#u2167-4:hover p,#u2166-4:hover p,#u2168-4:hover p
{
	text-decoration: underline;
}

#u2026-bw
{
	z-index: 48;
	margin-top: 42px;
	height: 2165px;
}

#u5808
{
	z-index: 50;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
}

#u5808-bw
{
	z-index: 50;
	margin-top: 41px;
	height: 2px;
}

#u5809
{
	z-index: 51;
	width: 960px;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u2003
{
	z-index: 433;
	width: 83px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 91px;
	background: transparent url("../images/vlast-normal.png") no-repeat left top;
	background-size: contain;
}

#u2003:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/vlast-rollover.png") no-repeat left top;
	background-size: contain;
}

#u2011
{
	z-index: 434;
	width: 189px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 165px;
	background: transparent url("../images/fin_kont-normal.png") no-repeat left top;
	background-size: contain;
}

#u2011:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/fin_kont-rollover.png") no-repeat left top;
	background-size: contain;
}

#u1986
{
	z-index: 435;
	width: 85px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 798px;
	background: transparent url("../images/otrasl-normal2.png") no-repeat left top;
	background-size: contain;
}

#u1986:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/otrasl-rollover2.png") no-repeat left top;
	background-size: contain;
}

#u2033
{
	z-index: 436;
	width: 103px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 890px;
	background: transparent url("../images/obshestvo-normal.png") no-repeat left top;
	background-size: contain;
}

#u2033:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/obshestvo-rollover.png") no-repeat left top;
	background-size: contain;
}

#u2061
{
	z-index: 437;
	width: 68px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 999px;
	background: transparent url("../images/obraz-normal2.png") no-repeat left top;
	background-size: contain;
}

#u2061:hover
{
	margin: 10px -10000px 0px 0px;
	background: transparent url("../images/obraz-rollover2.png") no-repeat left top;
	background-size: contain;
}

#u5800
{
	z-index: 464;
	width: 175px;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 105px;
}

#u5834
{
	z-index: 553;
	width: 156px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 632px;
	background: transparent url("../images/biz_rin-normal.png") no-repeat left top;
	background-size: contain;
}

#u5834:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/biz_rin-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5835
{
	z-index: 554;
	width: 175px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 349px;
	background: transparent url("../images/sec_regul-normal.png") no-repeat left top;
	background-size: contain;
}

#u5835:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/sec_regul-rollover.png") no-repeat left top;
	background-size: contain;
}

#u2024
{
	z-index: 431;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #E8E8E8;
}

#u2024-bw
{
	z-index: 431;
	height: 1px;
}

#pu2034-4
{
	width: 0.01px;
	margin-left: 450px;
	margin-top: 20px;
}

#u2034-4
{
	z-index: 419;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #00A99D;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
}

#u2034-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u2034-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u2042-4
{
	z-index: 423;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #525252;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	left: 24px;
}

#u2034-4:active,#u2042-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u2042-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u2004-4
{
	z-index: 427;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #525252;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u2042-4:active,#u2004-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u2004-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u2034-4:active p,#u2042-4:active p,#u2004-4:active p
{
	color: #87C9C4;
	visibility: inherit;
	text-decoration: none;
}

#u1977
{
	z-index: 432;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #E8E8E8;
}

#u1977-bw
{
	z-index: 432;
	margin-top: 14px;
	height: 1px;
}

#pu1975,#pu529
{
	width: 0.01px;
	margin-left: -100px;
}

#u529,#u529-bw
{
	z-index: 2;
	height: 232px;
}

#u540,#u540-bw
{
	z-index: 3;
	height: 232px;
}

#u2860,#u2860-bw
{
	z-index: 4;
	height: 232px;
}

#u2861
{
	z-index: 5;
	padding-bottom: 22px;
}

#u2861_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#ppu534
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 104px;
}

#pu534
{
	width: 0.01px;
}

#u534
{
	z-index: 35;
	width: 118px;
	margin-right: -10000px;
}

#u536-11
{
	z-index: 37;
	width: 679px;
	min-height: 63px;
	margin-right: -10000px;
	left: 162px;
}

#pu530-4
{
	width: 0.01px;
	margin-top: 70px;
}

#u530-4
{
	z-index: 6;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
}

#u2862-4
{
	z-index: 14;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
	left: 110px;
}

#u531-4
{
	z-index: 10;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
	left: 221px;
}

#u532-4
{
	z-index: 18;
	width: 118px;
	min-height: 18px;
	margin-right: -10000px;
	left: 329px;
}

#u539-4
{
	z-index: 22;
	width: 168px;
	min-height: 18px;
	margin-right: -10000px;
	left: 485px;
}

#u542-4
{
	z-index: 26;
	width: 202px;
	min-height: 18px;
	margin-right: -10000px;
	left: 677px;
}

#u2004-4:active,#u530-4:hover,#u2862-4:hover,#u531-4:hover,#u532-4:hover,#u539-4:hover,#u542-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u544-4
{
	z-index: 30;
	width: 48px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 192px;
	left: 1008px;
}

#u544-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 192px -10000px 0px 0px;
}

#u2861-bw
{
	z-index: 5;
	height: 210px;
}

#u533
{
	z-index: 34;
	height: 1px;
}

#u533-bw
{
	z-index: 34;
	margin-top: 169px;
	height: 1px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

