#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2862-4
{
	font-family: open-sans-n6, sans-serif;
}

#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5813-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5814-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5815-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5816-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u5823-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5822-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5817-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5818-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5821-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5824-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5819-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5820-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2091-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2080-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2090-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2075-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2079-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2088-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2083-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2086-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2089-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2094-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2111-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2103-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2098-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2097-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2104-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2106-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2105-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2107-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2126-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2125-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2124-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2118-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2115-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2116-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2119-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2114-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2112-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2134-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2141-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2151-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2136-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2140-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2150-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2145-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2147-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2149-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2154-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2155-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2159-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2163-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2165-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2162-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2167-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2166-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2072-4,#u5825-4,#u5832-4,#u5831-4,#u5826-4,#u5827-4,#u5830-4,#u5833-4,#u5828-4,#u5829-4,#u2073-4,#u2074-4,#u2077-4,#u2087-4,#u2076-4,#u2078-4,#u2081-4,#u2084-4,#u2085-4,#u2082-4,#u2092-4,#u2095-4,#u2096-4,#u2099-4,#u2101-4,#u2102-4,#u2100-4,#u2108-4,#u2110-4,#u2109-4,#u2131-4,#u2129-4,#u2127-4,#u2128-4,#u2123-4,#u2120-4,#u2121-4,#u2122-4,#u2117-4,#u2113-4,#u2133-4,#u2135-4,#u2137-4,#u2143-4,#u2139-4,#u2138-4,#u2142-4,#u2148-4,#u2146-4,#u2144-4,#u2536-4,#u2158-4,#u2157-4,#u2156-4,#u2160-4,#u2161-4,#u2164-4,#u2171-4,#u2169-4,#u2170-4
{
	font-family: open-sans-n7, sans-serif;
}

#u2168-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2034-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2042-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2004-4
{
	font-family: open-sans-n8, sans-serif;
}

