#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2862-4
{
	font-family: open-sans-n6, sans-serif;
}

#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5056-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5054-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5087-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5111-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u5094-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5116-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5119-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5074-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5059-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5051-4,#u5080-4,#u5057-4,#u5106-4,#u5064-4,#u5109-4,#u5100-4,#u5088-4,#u5114-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5110-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5063-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5103-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5096-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5084-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5107-8
{
	font-family: pt-serif-n4, sans-serif;
}

#u5061-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5062-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5107,#u5108-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5778-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5066-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5780-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5117-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5082-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5068-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5067-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5108,#u5079-4,#u5079,#u5078-4,#u5078,#u5095-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u5095,#u5095-3
{
	font-family: pt-serif-n4, sans-serif;
}

#u5784-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5782-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5093-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5118-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5091-4
{
	font-family: open-sans-n8, sans-serif;
}

