#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u819-4
{
	font-family: open-sans-n6, sans-serif;
}

#u833-4
{
	font-family: open-sans-n6, sans-serif;
}

#u834-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2590-4,#u2593-4,#u2596-4,#u2591-4,#u2594-4,#u2597-4,#u2592-4,#u2595-4,#u2598-4
{
	font-family: open-sans-n7, sans-serif;
}

#u820-4
{
	font-family: open-sans-n8, sans-serif;
}

#u830-4
{
	font-family: open-sans-n8, sans-serif;
}

#u822-4
{
	font-family: open-sans-n8, sans-serif;
}

#u832-4
{
	font-family: open-sans-n8, sans-serif;
}

#u823-4
{
	font-family: open-sans-n8, sans-serif;
}

#u825-4
{
	font-family: open-sans-n6, sans-serif;
}

#u827-4
{
	font-family: open-sans-n6, sans-serif;
}

#u828-4
{
	font-family: open-sans-n6, sans-serif;
}

#u824-4
{
	font-family: open-sans-n8, sans-serif;
}

#u821-4
{
	font-family: open-sans-n8, sans-serif;
}

#u831-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2581-4,#u2584-4,#u2587-4,#u2582-4,#u2585-4,#u2588-4,#u2583-4,#u2586-4,#u2589-4,#u852-14,#u852,#u852-11,#u863-14,#u863,#u863-11,#u864-4,#u864,#u865-4,#u865,#u862-14,#u862,#u862-11
{
	font-family: pt-serif-n4, sans-serif;
}

#u829-4
{
	font-family: open-sans-n6, sans-serif;
}

#u826-4
{
	font-family: open-sans-n6, sans-serif;
}

#u891-4
{
	font-family: open-sans-n8, sans-serif;
}

#u892-4
{
	font-family: open-sans-n8, sans-serif;
}

#u893-4
{
	font-family: open-sans-n8, sans-serif;
}

