#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1322-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1320-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1296-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2662-4,#u2665-4,#u2668-4,#u2663-4,#u2666-4,#u2669-4,#u2664-4,#u2667-4,#u2670-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1332-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1302-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1350-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1321-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1337-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1345-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1400-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1404-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1359-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1352-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1286-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2653-4,#u2656-4,#u2659-4,#u2654-4,#u2657-4,#u2660-4,#u2655-4,#u2658-4,#u2661-4,#u1295-14,#u1295,#u1295-11,#u1338-14,#u1338,#u1338-11,#u1319-4,#u1319,#u1334-4,#u1334,#u1330-14,#u1330,#u1330-11
{
	font-family: pt-serif-n4, sans-serif;
}

#u1408-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1412-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1348-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1293-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1291-4
{
	font-family: open-sans-n8, sans-serif;
}

