#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2862-4
{
	font-family: open-sans-n6, sans-serif;
}

#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u4940-4
{
	font-family: open-sans-n6, sans-serif;
}

#u4938-4
{
	font-family: open-sans-n6, sans-serif;
}

#u4971-4
{
	font-family: open-sans-n6, sans-serif;
}

#u4995-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u4978-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5000-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5003-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u4958-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u4943-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u4935-4,#u4964-4,#u4941-4,#u4990-4,#u4948-4,#u4993-4,#u4984-4,#u4972-4,#u4998-4
{
	font-family: open-sans-n7, sans-serif;
}

#u4994-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u4947-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u4987-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u4980-4
{
	font-family: open-sans-n8, sans-serif;
}

#u4968-4
{
	font-family: open-sans-n8, sans-serif;
}

#u4991-8
{
	font-family: pt-serif-n4, sans-serif;
}

#u4945-4
{
	font-family: open-sans-n8, sans-serif;
}

#u4946-4
{
	font-family: open-sans-n8, sans-serif;
}

#u4991,#u4992-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u4967-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5025-4
{
	font-family: open-sans-n6, sans-serif;
}

#u4950-4
{
	font-family: open-sans-n8, sans-serif;
}

#u4982-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5026-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5024-4
{
	font-family: open-sans-n6, sans-serif;
}

#u4966-4
{
	font-family: open-sans-n8, sans-serif;
}

#u4952-4
{
	font-family: open-sans-n8, sans-serif;
}

#u4951-4
{
	font-family: open-sans-n8, sans-serif;
}

#u4992,#u4963-4,#u4963,#u4962-4,#u4962,#u4979-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u4979,#u4979-3
{
	font-family: pt-serif-n4, sans-serif;
}

#u5045-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5043-4
{
	font-family: open-sans-n6, sans-serif;
}

#u4977-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5002-4
{
	font-family: open-sans-n8, sans-serif;
}

#u4975-4
{
	font-family: open-sans-n8, sans-serif;
}

