#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u126-4
{
	font-family: open-sans-n6, sans-serif;
}

#u136-4
{
	font-family: open-sans-n6, sans-serif;
}

#u138-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2558-4,#u2561-4,#u2564-4,#u2559-4,#u2562-4,#u2565-4,#u2560-4,#u2563-4,#u2566-4
{
	font-family: open-sans-n7, sans-serif;
}

#u319-4
{
	font-family: open-sans-n8, sans-serif;
}

#u322-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2549-4,#u2552-4,#u2555-4,#u2550-4,#u2553-4,#u2556-4,#u2551-4,#u2554-4,#u2557-4,#u324-14
{
	font-family: pt-serif-n4, sans-serif;
}

#u343-4
{
	font-family: open-sans-n8, sans-serif;
}

#u342-4
{
	font-family: open-sans-n8, sans-serif;
}

#u324,#u324-11,#u344-14
{
	font-family: pt-serif-n4, sans-serif;
}

#u349-4
{
	font-family: open-sans-n8, sans-serif;
}

#u338-4
{
	font-family: open-sans-n6, sans-serif;
}

#u340-4
{
	font-family: open-sans-n6, sans-serif;
}

#u346-4
{
	font-family: open-sans-n6, sans-serif;
}

#u357-4
{
	font-family: open-sans-n8, sans-serif;
}

#u344,#u344-11,#u350-4,#u350,#u358-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u393-4
{
	font-family: open-sans-n8, sans-serif;
}

#u394-4
{
	font-family: open-sans-n8, sans-serif;
}

#u360-4
{
	font-family: open-sans-n6, sans-serif;
}

#u397-4
{
	font-family: open-sans-n6, sans-serif;
}

#u426-4
{
	font-family: open-sans-n8, sans-serif;
}

#u433-4
{
	font-family: open-sans-n8, sans-serif;
}

#u475-4
{
	font-family: open-sans-n8, sans-serif;
}

#u474-4
{
	font-family: open-sans-n8, sans-serif;
}

#u472-4
{
	font-family: open-sans-n8, sans-serif;
}

#u470-4
{
	font-family: open-sans-n8, sans-serif;
}

#u476-4
{
	font-family: open-sans-n8, sans-serif;
}

#u482-4
{
	font-family: open-sans-n6, sans-serif;
}

#u483-4
{
	font-family: open-sans-n6, sans-serif;
}

#u484-4
{
	font-family: open-sans-n6, sans-serif;
}

#u492-4
{
	font-family: open-sans-n8, sans-serif;
}

#u485-4
{
	font-family: open-sans-n8, sans-serif;
}

#u489-4
{
	font-family: open-sans-n8, sans-serif;
}

#u358,#u358-3,#u398-14,#u398,#u398-11,#u414-4,#u414,#u432-4,#u432,#u498-14,#u498,#u498-11,#u471-14,#u471,#u471-11,#u478-4,#u478,#u493-4,#u493,#u491-14,#u491,#u491-11
{
	font-family: pt-serif-n4, sans-serif;
}

#u497-4
{
	font-family: open-sans-n6, sans-serif;
}

#u495-4
{
	font-family: open-sans-n6, sans-serif;
}

#u505-4
{
	font-family: open-sans-n8, sans-serif;
}

#u507-4
{
	font-family: open-sans-n8, sans-serif;
}

#u509-4
{
	font-family: open-sans-n8, sans-serif;
}

