#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2862-4
{
	font-family: open-sans-n6, sans-serif;
}

#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5183-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5207-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5211-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5231-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u5206-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5191-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5217-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5186-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5193-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5246-4,#u5198-4,#u5176-4,#u5204-4,#u5218-4,#u5230-4,#u5219-4,#u5199-4,#u5182-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5222-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5234-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5185-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5181-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5175-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5174-8
{
	font-family: pt-serif-n4, sans-serif;
}

#u5190-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5250-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5174,#u5212-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5288-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5187-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5290-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5249-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5233-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5177-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5235-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5212,#u5208-4,#u5208,#u5221-4,#u5221,#u5197-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u5197,#u5197-3
{
	font-family: pt-serif-n4, sans-serif;
}

#u5295-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5292-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5209-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5201-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5240-4
{
	font-family: open-sans-n8, sans-serif;
}

