#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1471-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1465-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1494-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2680-4,#u2683-4,#u2686-4,#u2681-4,#u2684-4,#u2687-4,#u2682-4,#u2685-4,#u2688-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1426-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1449-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1459-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1429-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1433-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1475-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1546-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1548-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1422-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1424-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1496-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2671-4,#u2674-4,#u2677-4,#u2672-4,#u2675-4,#u2678-4,#u2673-4,#u2676-4,#u2679-4,#u1453-14,#u1453,#u1453-11,#u1446-14,#u1446,#u1446-11,#u1464-4,#u1464,#u1461-4,#u1461,#u1477-14,#u1477,#u1477-11
{
	font-family: pt-serif-n4, sans-serif;
}

#u1555-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1559-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1472-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1484-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1447-4
{
	font-family: open-sans-n8, sans-serif;
}

