#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2862-4
{
	font-family: open-sans-n6, sans-serif;
}

#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3553-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u3590-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3557-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3550-4,#u3586-4,#u3536-4
{
	font-family: pt-serif-n7, sans-serif;
}

#u3560-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3570-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3551-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3541-9,#u3537-4,#u3549-4,#u3582-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u3563-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3582,#u3591-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u3591
{
	font-family: pt-serif-n4, sans-serif;
}

