#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1181-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1228-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1206-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2644-4,#u2647-4,#u2650-4,#u2645-4,#u2648-4,#u2651-4,#u2646-4,#u2649-4,#u2652-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1195-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1229-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1210-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1182-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1236-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1270-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1273-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1275-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1226-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1242-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1171-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2635-4,#u2638-4,#u2641-4,#u2636-4,#u2639-4,#u2642-4,#u2637-4,#u2640-4,#u2643-4,#u1238-14,#u1238,#u1238-11,#u1240-14,#u1240,#u1240-11,#u1211-4,#u1211,#u1235-4,#u1235,#u1197-14,#u1197,#u1197-11
{
	font-family: pt-serif-n4, sans-serif;
}

#u1279-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1283-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1172-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1214-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1227-4
{
	font-family: open-sans-n8, sans-serif;
}

