#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u959-4
{
	font-family: open-sans-n6, sans-serif;
}

#u987-4
{
	font-family: open-sans-n6, sans-serif;
}

#u960-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2608-4,#u2611-4,#u2614-4,#u2609-4,#u2612-4,#u2615-4,#u2610-4,#u2613-4,#u2616-4
{
	font-family: open-sans-n7, sans-serif;
}

#u912-4
{
	font-family: open-sans-n8, sans-serif;
}

#u982-4
{
	font-family: open-sans-n8, sans-serif;
}

#u948-4
{
	font-family: open-sans-n8, sans-serif;
}

#u974-4
{
	font-family: open-sans-n8, sans-serif;
}

#u935-4
{
	font-family: open-sans-n8, sans-serif;
}

#u933-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1023-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1029-4
{
	font-family: open-sans-n6, sans-serif;
}

#u980-4
{
	font-family: open-sans-n8, sans-serif;
}

#u941-4
{
	font-family: open-sans-n8, sans-serif;
}

#u919-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2599-4,#u2602-4,#u2605-4,#u2600-4,#u2603-4,#u2606-4,#u2601-4,#u2604-4,#u2607-4,#u953-14,#u953,#u953-11,#u945-14,#u945,#u945-11,#u984-4,#u984,#u926-4,#u926,#u950-14,#u950,#u950-11
{
	font-family: pt-serif-n4, sans-serif;
}

#u1033-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1039-4
{
	font-family: open-sans-n6, sans-serif;
}

#u909-4
{
	font-family: open-sans-n8, sans-serif;
}

#u968-4
{
	font-family: open-sans-n8, sans-serif;
}

#u931-4
{
	font-family: open-sans-n8, sans-serif;
}

