#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2330-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u2329-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2355-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2369-4,#u2372-4,#u2373-4
{
	font-family: pt-serif-i4, sans-serif;
}

#u2387-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u2391-4,#u2394-4,#u2396-4
{
	font-family: pt-serif-n7, sans-serif;
}

#u2399-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2402-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2404-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2412-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2429-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2332-6,#u2365-6,#u2377-6,#u2384-6,#u2389-4,#u2397-4,#u2398-4,#u2413-4,#u2413,#u2428-4,#u2428
{
	font-family: pt-serif-n4, sans-serif;
}

