#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2862-4
{
	font-family: open-sans-n6, sans-serif;
}

#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5641-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5665-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5669-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5689-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u5664-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5649-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5675-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5644-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5651-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5704-4,#u5656-4,#u5634-4,#u5662-4,#u5676-4,#u5688-4,#u5677-4,#u5657-4,#u5640-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5680-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5692-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5643-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5639-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5633-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5632-8
{
	font-family: pt-serif-n4, sans-serif;
}

#u5648-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5708-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5632,#u5670-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5749-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5645-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5751-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5707-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5691-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5635-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5693-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5670,#u5666-4,#u5666,#u5679-4,#u5679,#u5655-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u5655,#u5655-3
{
	font-family: pt-serif-n4, sans-serif;
}

#u5753-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5755-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5667-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5659-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5698-4
{
	font-family: open-sans-n8, sans-serif;
}

