#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2862-4
{
	font-family: open-sans-n6, sans-serif;
}

#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5526-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5550-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5554-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5574-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u5549-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5534-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5560-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5529-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5536-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5589-4,#u5541-4,#u5519-4,#u5547-4,#u5561-4,#u5573-4,#u5562-4,#u5542-4,#u5525-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5565-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5577-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5528-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5524-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5518-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5517-8
{
	font-family: pt-serif-n4, sans-serif;
}

#u5533-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5593-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5517,#u5555-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5622-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5530-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5624-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5592-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5576-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5520-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5578-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5555,#u5551-4,#u5551,#u5564-4,#u5564,#u5540-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u5540,#u5540-3
{
	font-family: pt-serif-n4, sans-serif;
}

#u5628-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5626-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5552-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5544-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5583-4
{
	font-family: open-sans-n8, sans-serif;
}

