#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2862-4
{
	font-family: open-sans-n6, sans-serif;
}

#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3737-6
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u3703-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3740-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3712-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3850-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3853-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3855-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3861-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3863-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3867-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3745-4,#u3722-4,#u3724-4
{
	font-family: pt-serif-n7, sans-serif;
}

#u3721-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3713-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3733-4,#u3738-4,#u3747-4,#u3849-4,#u3852-4,#u3854-4,#u3860-4,#u3862-4,#u3866-4,#u3729-4,#u3739-4,#u3748-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u3725-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3748,#u3746-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u3746
{
	font-family: pt-serif-n4, sans-serif;
}

