#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1609-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1618-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1580-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2698-4,#u2701-4,#u2704-4,#u2699-4,#u2702-4,#u2705-4,#u2700-4,#u2703-4,#u2706-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1574-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1607-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1579-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1581-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1598-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1622-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1678-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1682-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1570-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1616-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1565-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2689-4,#u2692-4,#u2695-4,#u2690-4,#u2693-4,#u2696-4,#u2691-4,#u2694-4,#u2697-4,#u1606-14,#u1606,#u1606-11,#u1635-14,#u1635,#u1635-11,#u1643-4,#u1643,#u1639-4,#u1639,#u1632-14,#u1632,#u1632-11
{
	font-family: pt-serif-n4, sans-serif;
}

#u1686-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1690-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1634-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1592-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1633-4
{
	font-family: open-sans-n8, sans-serif;
}

