#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2862-4
{
	font-family: open-sans-n6, sans-serif;
}

#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3891-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u3922-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3888-4,#u3923-4,#u3895-4
{
	font-family: pt-serif-n7, sans-serif;
}

#u3882-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3925-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3890-4,#u3901-7,#u3950-4,#u3914-4,#u3902-4,#u3921-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u3920-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3921,#u3910-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u3910
{
	font-family: pt-serif-n4, sans-serif;
}

