#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1093-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1063-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1078-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2626-4,#u2629-4,#u2632-4,#u2627-4,#u2630-4,#u2633-4,#u2628-4,#u2631-4,#u2634-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1058-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1056-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1061-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1096-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1076-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1079-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1151-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1155-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1104-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1095-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1103-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2617-4,#u2620-4,#u2623-4,#u2618-4,#u2621-4,#u2624-4,#u2619-4,#u2622-4,#u2625-4,#u1054-14,#u1054,#u1054-11,#u1044-14,#u1044,#u1044-11,#u1092-4,#u1092,#u1081-4,#u1081,#u1067-14,#u1067,#u1067-11
{
	font-family: pt-serif-n4, sans-serif;
}

#u1157-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1161-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1087-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1043-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1051-4
{
	font-family: open-sans-n8, sans-serif;
}

