#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2862-4
{
	font-family: open-sans-n6, sans-serif;
}

#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5401-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5425-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5429-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5449-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u5424-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5409-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5435-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5404-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5411-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5464-4,#u5416-4,#u5394-4,#u5422-4,#u5436-4,#u5448-4,#u5437-4,#u5417-4,#u5400-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5440-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5452-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5403-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5399-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5393-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5392-8
{
	font-family: pt-serif-n4, sans-serif;
}

#u5408-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5468-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5392,#u5430-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5507-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5405-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5509-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5467-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5451-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5395-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5453-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5430,#u5426-4,#u5426,#u5439-4,#u5439,#u5415-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u5415,#u5415-3
{
	font-family: pt-serif-n4, sans-serif;
}

#u5513-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5511-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5427-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5419-4
{
	font-family: open-sans-n8, sans-serif;
}

#u5458-4
{
	font-family: open-sans-n8, sans-serif;
}

