#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2862-4
{
	font-family: open-sans-n6, sans-serif;
}

#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2480-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u2490-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2511-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2506-6
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u2478-6,#u2467-4,#u2458-4
{
	font-family: pt-serif-i4, sans-serif;
}

#u2533-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2473-6,#u2457-4,#u2505-4
{
	font-family: pt-serif-n7, sans-serif;
}

#u2493-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2487-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2502-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2462-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2473-4,#u2473-8,#u2473-10,#u2527-14,#u2529-4,#u2531-10,#u2497-8,#u2510-29,#u2512-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2489-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2512,#u2507-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2507
{
	font-family: pt-serif-n4, sans-serif;
}

