#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2862-4
{
	font-family: open-sans-n6, sans-serif;
}

#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3643-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u3638-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3673-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3688-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3693-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3664-4,#u3672-4,#u3653-4
{
	font-family: pt-serif-n7, sans-serif;
}

#u3670-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3635-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3649-4,#u3687-4,#u3692-4,#u3631-4,#u3632-4,#u3644-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u3642-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3644,#u3652-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u3652
{
	font-family: pt-serif-n4, sans-serif;
}

