#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2029-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2025-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2028-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2072-4,#u1984-4,#u1978-4,#u2000-4,#u2016-4,#u2044-4,#u1992-4,#u1983-4,#u2048-4,#u2009-4,#u2073-4,#u2074-4,#u2077-4,#u2087-4,#u2076-4,#u2078-4,#u2081-4,#u2084-4,#u2085-4,#u2082-4,#u2092-4,#u2095-4,#u2096-4,#u2099-4,#u2101-4,#u2102-4,#u2100-4,#u2108-4,#u2110-4,#u2109-4,#u2131-4,#u2129-4,#u2127-4,#u2128-4,#u2123-4,#u2120-4,#u2121-4,#u2122-4,#u2117-4,#u2113-4,#u2133-4,#u2135-4,#u2137-4,#u2143-4,#u2139-4,#u2138-4,#u2142-4,#u2148-4,#u2146-4,#u2144-4,#u2536-4,#u2158-4,#u2157-4,#u2156-4,#u2160-4,#u2161-4,#u2164-4,#u2171-4,#u2169-4,#u2170-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1997-4,#u2013-4,#u2006-4,#u2015-4,#u2030-4,#u1988-4,#u1996-4,#u2043-4,#u1979-4,#u2091-4,#u2080-4,#u2090-4,#u2075-4,#u2079-4,#u2088-4,#u2083-4,#u2086-4,#u2089-4,#u2094-4,#u2111-4,#u2103-4,#u2098-4,#u2097-4,#u2104-4,#u2106-4,#u2105-4,#u2107-4,#u2126-4,#u2125-4,#u2124-4,#u2118-4,#u2115-4,#u2116-4,#u2119-4,#u2114-4,#u2112-4,#u2134-4,#u2141-4,#u2151-4,#u2136-4,#u2140-4,#u2150-4,#u2145-4,#u2147-4,#u2149-4,#u2154-4,#u2155-4,#u2159-4,#u2163-4,#u2165-4,#u2162-4,#u2167-4,#u2166-4,#u2168-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u2034-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2042-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2004-4
{
	font-family: open-sans-n8, sans-serif;
}

