#u536-11
{
	font-family: open-sans-n4, sans-serif;
}

#u536,#u536-7,#u530-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2862-4
{
	font-family: open-sans-n6, sans-serif;
}

#u531-4
{
	font-family: open-sans-n6, sans-serif;
}

#u532-4
{
	font-family: open-sans-n6, sans-serif;
}

#u539-4
{
	font-family: open-sans-n6, sans-serif;
}

#u542-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3360-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3392-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3393-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3437-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u3438-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u3445-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u3444-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u3439-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u3440-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u3446-4,#u3447-4,#u3454-4,#u3453-4,#u3448-4,#u3449-4,#u3452-4,#u3451-4,#u3450-4
{
	font-family: open-sans-n7, sans-serif;
}

#u3443-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u3442-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u3441-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u3361-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3386-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3407-8
{
	font-family: pt-serif-n4, sans-serif;
}

#u3365-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3390-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3407,#u3411-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u3380-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3367-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3382-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3376-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3363-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3388-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3369-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3411,#u3413-4,#u3413,#u3409-4,#u3409,#u3415-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u3415,#u3415-3
{
	font-family: pt-serif-n4, sans-serif;
}

#u3378-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3384-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3371-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3372-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3373-4
{
	font-family: open-sans-n8, sans-serif;
}

