.version.index /* version checker */
{
	color: #00001D;
	background-color: #3833AC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3384px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 2px;
}

#u2852
{
	z-index: 51;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
}

#u2852-bw
{
	z-index: 51;
	margin-top: 45px;
	height: 2px;
}

#u86
{
	z-index: 53;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u92
{
	z-index: 57;
	width: 100px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 956px;
	background: transparent url("../images/btn_login-normal.png") no-repeat left top;
	background-size: contain;
}

#u92:hover
{
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/btn_login-rollover.png") no-repeat left top;
	background-size: contain;
}

#u92:active
{
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/btn_login-down.png") no-repeat left top;
	background-size: contain;
}

#u109
{
	z-index: 58;
	width: 36px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 907px;
	background: transparent url("../images/btn_search-normal.png") no-repeat left top;
	background-size: contain;
}

#u109:hover
{
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/btn_search-rollover.png") no-repeat left top;
	background-size: contain;
}

#u109:active
{
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/btn_search-down.png") no-repeat left top;
	background-size: contain;
}

#u126-4
{
	z-index: 59;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 104px;
}

#u136-4
{
	z-index: 187;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 343px;
}

#u2854-4
{
	z-index: 191;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 227px;
}

#u126-4:hover,#u136-4:hover,#u2854-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 17px -10000px 0px 0px;
}

#pamphletu5922
{
	z-index: 367;
	width: 0.01px;
	height: 51px;
	padding-bottom: 59px;
	left: -13px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u5925
{
	z-index: 368;
	width: 77px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u5926
{
	position: absolute;
	width: 81px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: -4px;
	left: -4px;
}

#u5926:hover
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

#u5929
{
	z-index: 371;
	position: relative;
	width: 77px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	background: url("../images/u5929_states.png") no-repeat 0px 0px;
}

#u5929_states
{
	height: 46px;
	width: 77px;
	vertical-align: top;
}

#u5926:hover #u5929_states
{
	background: url("../images/u5929_states-r.png") no-repeat 0px 0px;
}

#u5932
{
	position: absolute;
	width: 87px;
	top: 57px;
}

#u5932popup
{
	z-index: 373;
}

#u5933
{
	z-index: 374;
	width: 87px;
	height: 52px;
	border-color: #5DCAC5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u5935
{
	z-index: 376;
	height: 47px;
	width: 82px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	background: url("../images/u5935.png") no-repeat 0px 0px;
}

#u5935:hover
{
	background: url("../images/u5935-r.png") no-repeat 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu5954
{
	z-index: 378;
	width: 0.01px;
	height: 51px;
	padding-bottom: 59px;
	margin-left: 61px;
	top: -110px;
	margin-bottom: -110px;
	position: relative;
}

#u5955
{
	z-index: 379;
	width: 170px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u5956
{
	position: absolute;
	width: 174px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: -4px;
	left: -4px;
}

#u5956:hover
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

#u5961
{
	z-index: 382;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	background: url("../images/u5961_states.png") no-repeat 0px 0px;
}

#u5961_states
{
	height: 46px;
	width: 170px;
	vertical-align: top;
}

#u5956:hover #u5961_states
{
	background: url("../images/u5961_states-r.png") no-repeat 0px 0px;
}

#u5966
{
	position: absolute;
	width: 179px;
	top: 57px;
}

#u5966popup
{
	z-index: 384;
}

#u5967
{
	z-index: 385;
	width: 179px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u5975
{
	z-index: 387;
	height: 47px;
	width: 169px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	background: url("../images/u5975.png") no-repeat 0px 0px;
}

#u5975:hover
{
	background: url("../images/u5975-r.png") no-repeat 0px 0px;
}

#pamphletu5982
{
	z-index: 389;
	width: 0.01px;
	height: 51px;
	padding-bottom: 59px;
	margin-left: 233px;
	top: -110px;
	margin-bottom: -110px;
	position: relative;
}

#u5983
{
	z-index: 390;
	width: 166px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u5984
{
	position: absolute;
	width: 171px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: -4px;
	left: -4px;
}

#u5984:hover
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

#u5987
{
	z-index: 393;
	position: relative;
	width: 166px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	background: url("../images/u5987_states.png") no-repeat 0px 0px;
}

#u5987_states
{
	height: 46px;
	width: 166px;
	vertical-align: top;
}

#u5984:hover #u5987_states
{
	background: url("../images/u5987_states-r.png") no-repeat 0px 0px;
}

#u5996
{
	position: absolute;
	width: 172px;
	top: 57px;
}

#u5996popup
{
	z-index: 395;
}

#u5997
{
	z-index: 396;
	width: 172px;
	height: 52px;
	border-color: #FF0000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u6007
{
	z-index: 398;
	height: 47px;
	width: 164px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	background: url("../images/u6007.png") no-repeat 0px 0px;
}

#u6007:hover
{
	background: url("../images/u6007-r.png") no-repeat 0px 0px;
}

#pamphletu6141
{
	z-index: 460;
	width: 0.01px;
	height: 51px;
	padding-bottom: 13px;
	margin-left: 551px;
	top: -110px;
	margin-bottom: -64px;
	position: relative;
}

#u6144
{
	z-index: 461;
	width: 132px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u6145
{
	position: absolute;
	width: 138px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: -4px;
	left: -4px;
}

#u6145:hover
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

#u6146
{
	z-index: 464;
	position: relative;
	width: 132px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	background: url("../images/u6146_states.png") no-repeat 0px 0px;
}

#u6146_states
{
	height: 46px;
	width: 132px;
	vertical-align: top;
}

#u6145:hover #u6146_states
{
	background: url("../images/u6146_states-r.png") no-repeat 0px 0px;
}

#u6149
{
	position: absolute;
	width: 134px;
	top: 57px;
}

#u6149popup
{
	z-index: 466;
}

#u6150
{
	z-index: 467;
	width: 134px;
	height: 6px;
	border-color: #FF0000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.ie #u6150
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pamphletu6158
{
	z-index: 400;
	width: 0.01px;
	height: 51px;
	padding-bottom: 265px;
	margin-left: 677px;
	top: -110px;
	margin-bottom: -110px;
	position: relative;
}

#u6161
{
	z-index: 401;
	width: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 22px;
}

#u6162
{
	position: absolute;
	width: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: -4px;
	left: -4px;
}

#u6162:hover
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

#u6163
{
	z-index: 404;
	position: relative;
	width: 81px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	background: url("../images/u6163_states.png") no-repeat 0px 0px;
}

#u6162:hover #u6163_states
{
	background: url("../images/u6163_states-r.png") no-repeat 0px 0px;
}

#u6166popup
{
	z-index: 406;
}

#u6167
{
	z-index: 407;
	width: 123px;
	height: 250px;
	border-color: #FF0000;
	background-color: #FFFFFF;
	padding: 4px;
	position: relative;
	margin-right: -10000px;
}

#u6168
{
	z-index: 409;
	height: 47px;
	width: 123px;
	vertical-align: top;
	position: relative;
	background: url("../images/u6168.png") no-repeat 0px 0px;
}

#u6168:hover
{
	background: url("../images/u6168-r.png") no-repeat 0px 0px;
}

#u6169
{
	z-index: 412;
	height: 47px;
	width: 123px;
	vertical-align: top;
	margin-top: 3px;
	position: relative;
	background: url("../images/u6169.png") no-repeat 0px 0px;
}

#u6169:hover
{
	background: url("../images/u6169-r.png") no-repeat 0px 0px;
}

#u6170
{
	z-index: 415;
	height: 47px;
	width: 123px;
	vertical-align: top;
	margin-top: 7px;
	position: relative;
	background: url("../images/u6170.png") no-repeat 0px 0px;
}

#u6170:hover
{
	background: url("../images/u6170-r.png") no-repeat 0px 0px;
}

#u6172
{
	z-index: 418;
	height: 47px;
	width: 123px;
	vertical-align: top;
	margin-top: 3px;
	position: relative;
	background: url("../images/u6172.png") no-repeat 0px 0px;
}

#u6172:hover
{
	background: url("../images/u6172-r.png") no-repeat 0px 0px;
}

#u6171
{
	z-index: 421;
	height: 47px;
	width: 123px;
	vertical-align: top;
	margin-top: 2px;
	position: relative;
	background: url("../images/u6171.png") no-repeat 0px 0px;
}

#u6171:hover
{
	background: url("../images/u6171-r.png") no-repeat 0px 0px;
}

#pamphletu6175
{
	z-index: 423;
	width: 0.01px;
	height: 51px;
	padding-bottom: 213px;
	margin-left: 777px;
	top: -316px;
	margin-bottom: -264px;
	position: relative;
}

#u6185
{
	z-index: 424;
	width: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 22px;
}

#u6186
{
	position: absolute;
	width: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: -4px;
	left: -4px;
}

#u6186:hover
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

#u6187
{
	z-index: 427;
	position: relative;
	width: 81px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	background: url("../images/u6187_states.png") no-repeat 0px 0px;
}

#u6163_states,#u6187_states
{
	height: 46px;
	width: 81px;
	vertical-align: top;
}

#u6186:hover #u6187_states
{
	background: url("../images/u6187_states-r.png") no-repeat 0px 0px;
}

#u6166,#u6178
{
	position: absolute;
	width: 131px;
	top: 57px;
}

#u6178popup
{
	z-index: 429;
}

#u6179
{
	z-index: 430;
	width: 123px;
	height: 201px;
	border-color: #FF0000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 4px 4px 1px;
}

#u6180
{
	z-index: 432;
	height: 47px;
	width: 123px;
	vertical-align: top;
	position: relative;
	background: url("../images/u6180.png") no-repeat 0px 0px;
}

#u6180:hover
{
	background: url("../images/u6180-r.png") no-repeat 0px 0px;
}

#u6182
{
	z-index: 435;
	height: 47px;
	width: 123px;
	vertical-align: top;
	margin-top: 3px;
	position: relative;
	background: url("../images/u6182.png") no-repeat 0px 0px;
}

#u6182:hover
{
	background: url("../images/u6182-r.png") no-repeat 0px 0px;
}

#u6181
{
	z-index: 438;
	height: 47px;
	width: 123px;
	vertical-align: top;
	margin-top: 7px;
	position: relative;
	background: url("../images/u6181.png") no-repeat 0px 0px;
}

#u6181:hover
{
	background: url("../images/u6181-r.png") no-repeat 0px 0px;
}

#u6184
{
	z-index: 441;
	height: 47px;
	width: 123px;
	vertical-align: top;
	margin-top: 3px;
	position: relative;
	background: url("../images/u6184.png") no-repeat 0px 0px;
}

#u6184:hover
{
	background: url("../images/u6184-r.png") no-repeat 0px 0px;
}

#pamphletu6192
{
	z-index: 443;
	width: 0.01px;
	height: 51px;
	padding-bottom: 163px;
	margin-left: 881px;
	top: -316px;
	margin-bottom: -214px;
	position: relative;
}

#u6201
{
	z-index: 444;
	width: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 22px;
}

#u6202
{
	position: absolute;
	width: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: -4px;
	left: -4px;
}

#u6202:hover
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

#u5926.PamphletThumbSelected,#u5956.PamphletThumbSelected,#u5984.PamphletThumbSelected,#u6145.PamphletThumbSelected,#u6162.PamphletThumbSelected,#u6186.PamphletThumbSelected,#u6202.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

#u6203
{
	z-index: 447;
	position: relative;
	width: 55px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	background: url("../images/u6203_states.png") no-repeat 0px 0px;
}

#u6203_states
{
	height: 46px;
	width: 55px;
	vertical-align: top;
}

#u6202:hover #u6203_states
{
	background: url("../images/u6203_states-r.png") no-repeat 0px 0px;
}

#u6193
{
	position: absolute;
	width: 106px;
	top: 57px;
}

#u6193popup
{
	z-index: 449;
}

#u6194
{
	z-index: 450;
	width: 98px;
	height: 151px;
	border-color: #FF0000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 4px 4px 1px;
}

#u6196
{
	z-index: 452;
	height: 47px;
	width: 98px;
	vertical-align: top;
	position: relative;
	background: url("../images/u6196.png") no-repeat 0px 0px;
}

#u6196:hover
{
	background: url("../images/u6196-r.png") no-repeat 0px 0px;
}

#u6197
{
	z-index: 455;
	height: 47px;
	width: 98px;
	vertical-align: top;
	margin-top: 3px;
	position: relative;
	background: url("../images/u6197.png") no-repeat 0px 0px;
}

#u6197:hover
{
	background: url("../images/u6197-r.png") no-repeat 0px 0px;
}

#u6195
{
	z-index: 458;
	height: 47px;
	width: 98px;
	vertical-align: top;
	margin-top: 7px;
	position: relative;
	background: url("../images/u6195.png") no-repeat 0px 0px;
}

#u6195:hover
{
	background: url("../images/u6195-r.png") no-repeat 0px 0px;
}

#u164
{
	z-index: 49;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #D9D9D9;
}

#u164-bw
{
	z-index: 49;
	margin-top: -311px;
	margin-bottom: -2px;
	height: 2px;
}

#pu281
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -311px;
}

#u281
{
	z-index: 48;
	border-style: none;
	border-color: transparent;
	background-color: #FDFCFB;
	padding-bottom: 28px;
}

#u281_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#pu2558-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 81px;
	margin-left: 108px;
}

#u2558-4
{
	z-index: 315;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u2561-4
{
	z-index: 319;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 66px;
	position: relative;
}

#u2564-4
{
	z-index: 347;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 68px;
	position: relative;
}

#pu2549-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 77px;
	margin-left: 155px;
}

#u2549-6
{
	z-index: 277;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2549-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 69px;
	margin: 0px;
}

#u2552-4
{
	z-index: 283;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u2552-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 69px;
	margin: 16px 0px 0px;
}

#u2555-4
{
	z-index: 311;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u2555-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 18px 0px 0px;
}

#pu3188-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 85px;
	margin-left: 428px;
}

#u3188-4
{
	z-index: 343;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3185-4
{
	z-index: 323;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 62px;
	position: relative;
}

#u3190-4
{
	z-index: 327;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 68px;
	position: relative;
}

#pu3189-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 81px;
	margin-left: 475px;
}

#u3189-4
{
	z-index: 307;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	position: relative;
}

#u3189-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 0px 0px 0px 1px;
}

#u3184-4
{
	z-index: 287;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 31px;
	position: relative;
}

#u3184-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 31px 0px 0px;
}

#u3191-4
{
	z-index: 291;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
}

#u3191-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 24px 0px 0px;
}

#pu3194-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 85px;
	margin-left: 752px;
}

#u3194-4
{
	z-index: 339;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3196-4
{
	z-index: 335;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 66px;
	position: relative;
}

#u3193-4
{
	z-index: 331;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 63px;
	position: relative;
}

#pu3195-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 81px;
	margin-left: 799px;
}

#u3195-4
{
	z-index: 303;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3195-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 0px;
}

#u3197-4
{
	z-index: 299;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 22px;
	position: relative;
}

#u3197-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 22px 0px 0px;
}

#u3192-4
{
	z-index: 295;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 32px;
	position: relative;
}

#u3192-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 32px 0px 0px;
}

#u126-4:hover p,#u136-4:hover p,#u2854-4:hover p,#u2549-6:hover p,#u2552-4:hover p,#u2555-4:hover p,#u3189-4:hover p,#u3184-4:hover p,#u3191-4:hover p,#u3195-4:hover p,#u3197-4:hover p,#u3192-4:hover p
{
	text-decoration: underline;
}

#u281-bw
{
	z-index: 48;
	margin-top: 42px;
	height: 312px;
}

#u163
{
	z-index: 50;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
}

#u163-bw
{
	z-index: 50;
	margin-top: 41px;
	height: 2px;
}

#u2827
{
	z-index: 55;
	width: 960px;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u2907
{
	z-index: 352;
	width: 175px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 104px;
}

#u302
{
	z-index: 195;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
}

#u302-bw
{
	z-index: 195;
	height: 2px;
}

#u2839
{
	z-index: 351;
	width: 172px;
	height: 27px;
	margin-left: 394px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	background: transparent url("../images/btn_allnews-normanl.png") no-repeat left top;
	background-size: contain;
}

#u2839:hover
{
	margin: 0px 0px -2px 394px;
	background: transparent url("../images/btn_allnews-rollover.png") no-repeat left top;
	background-size: contain;
}

#ppu319-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 36px;
}

#u319-4
{
	z-index: 63;
	width: 223px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u319-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u319-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u322-4
{
	z-index: 163;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u322-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u322-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u323
{
	z-index: 196;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u324-8
{
	z-index: 202;
	width: 304px;
	min-height: 298px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u343-4
{
	z-index: 79;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u319-4:active,#u343-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u343-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u342-4
{
	z-index: 179;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	color: #484848;
	font-size: 18px;
	letter-spacing: -1px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u322-4:active,#u342-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u342-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u341
{
	z-index: 200;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u340-4
{
	z-index: 139;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 112px;
}

#u340-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 152px -10000px 0px 0px;
}

#u340-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 152px -10000px 0px 0px;
}

#u340-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u344-4
{
	z-index: 226;
	width: 304px;
	min-height: 298px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u370
{
	z-index: 262;
	width: 100px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 143px;
	background: transparent url("../images/otrasl-normal.png") no-repeat left top;
	background-size: contain;
}

#u3099
{
	z-index: 358;
	width: 304px;
	position: relative;
}

#u349-4
{
	z-index: 87;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 22px;
	position: relative;
}

#u349-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 22px 0px 0px;
}

#u349-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u350-4
{
	z-index: 234;
	width: 304px;
	min-height: 24px;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 2px;
	position: relative;
}

#u3105
{
	z-index: 362;
	width: 120px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bub_obshestvo-normal.png") no-repeat left top;
	background-size: contain;
}

#u346-4
{
	z-index: 147;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 140px;
}

#u346-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u346-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3072
{
	z-index: 354;
	width: 192px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bub_regul-normal.png") no-repeat left top;
	background-size: contain;
}

#u338-4
{
	z-index: 123;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 204px;
}

#u346-4:active,#u338-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u338-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u2442
{
	z-index: 273;
	width: 628px;
	position: relative;
	margin-right: -10000px;
}

#u393-4
{
	z-index: 71;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u343-4:active,#u393-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u393-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u394-4
{
	z-index: 171;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u342-4:active,#u394-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u394-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u395
{
	z-index: 198;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u398-4
{
	z-index: 218;
	width: 304px;
	min-height: 217px;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u357-4
{
	z-index: 95;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-left: 4px;
	position: relative;
}

#u357-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px 0px 0px 4px;
}

#u357-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u358-6
{
	z-index: 242;
	width: 628px;
	min-height: 48px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u358-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 19px -10000px 0px 0px;
}

#u3117
{
	z-index: 364;
	width: 120px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	left: 648px;
	background: transparent url("../images/bub_obshestvo-normal.png") no-repeat left top;
	background-size: contain;
}

#u397-4
{
	z-index: 131;
	width: 78px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 788px;
}

#u338-4:active,#u397-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u397-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#pu5790
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 11px;
}

#u5790
{
	z-index: 355;
	width: 192px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bub_regul-normal.png") no-repeat left top;
	background-size: contain;
}

#u360-4
{
	z-index: 155;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 204px;
}

#u360-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 11px -10000px 0px 0px;
}

#u360-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 11px -10000px 0px 0px;
}

#u360-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u399
{
	z-index: 52;
	border-width: 1px;
	border-style: solid;
	border-color: #E1DED8;
	background-color: #FDFCFB;
	padding-bottom: 42px;
}

#u399_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	position: relative;
	left: -100px;
}

#u406
{
	z-index: 266;
	width: 162px;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 134px;
}

#pu400
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 315px;
}

#u400
{
	z-index: 264;
	width: 200px;
	margin-left: 164px;
	position: relative;
}

#ppu426-4
{
	width: 0.01px;
	margin-top: 31px;
}

#pu426-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u426-4
{
	z-index: 115;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u393-4:active,#u426-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u426-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u414-4
{
	z-index: 254;
	width: 243px;
	min-height: 93px;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u5786
{
	z-index: 366;
	width: 192px;
	height: 39px;
	margin-top: 11px;
	position: relative;
	background: transparent url("../images/bub_regul-normal.png") no-repeat left top;
	background-size: contain;
}

#u5786:hover
{
	margin: 11px 0px 0px;
	background: transparent url("../images/bub_regul-rollover.png") no-repeat left top;
	background-size: contain;
}

#u429
{
	z-index: 268;
	width: 162px;
	position: relative;
	margin-right: -10000px;
	left: 304px;
}

#pu433-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 86px;
	margin-left: 801px;
}

#u433-4
{
	z-index: 119;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u426-4:active,#u433-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u433-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u432-4
{
	z-index: 258;
	width: 243px;
	min-height: 93px;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u786
{
	z-index: 272;
	width: 84px;
	height: 39px;
	margin-top: 11px;
	position: relative;
	background: transparent url("../images/obraz-normal.png") no-repeat left top;
	background-size: contain;
}

#u786:hover
{
	margin: 11px 0px 0px;
	background: transparent url("../images/obraz-rollover.png") no-repeat left top;
	background-size: contain;
}

#u399-bw
{
	z-index: 52;
	margin-top: 50px;
	height: 259px;
}

#ppu3181-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 60px;
}

#pu319-4,#pu3181-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u3181-4
{
	z-index: 67;
	width: 223px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u433-4:active,#u3181-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u3181-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3179-4
{
	z-index: 167;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u394-4:active,#u3179-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u3179-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3177
{
	z-index: 197;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u3166-8
{
	z-index: 210;
	width: 304px;
	min-height: 298px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u324-8:hover,#u3166-8:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 298px;
	margin: 13px 0px 0px;
}

#pu343-4,#pu3180-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 324px;
}

#u3180-4
{
	z-index: 83;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u3181-4:active,#u3180-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u3180-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3178-4
{
	z-index: 183;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	color: #484848;
	font-size: 18px;
	letter-spacing: -1px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u3179-4:active,#u3178-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u3178-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3176
{
	z-index: 201;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#pu340-4,#pu3175-4
{
	width: 0.01px;
	margin-top: 13px;
}

#u3175-4
{
	z-index: 143;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	left: 112px;
}

#u3175-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 151px -10000px 0px 0px;
}

#u3175-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 151px -10000px 0px 0px;
}

#u3175-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3167-4
{
	z-index: 230;
	width: 304px;
	min-height: 298px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u344-4:hover,#u3167-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 298px;
	margin: 0px -10000px 0px 0px;
}

#u3174
{
	z-index: 263;
	width: 100px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 143px;
	background: transparent url("../images/otrasl-normal.png") no-repeat left top;
	background-size: contain;
}

#u370:hover,#u3174:hover
{
	margin: 143px -10000px 0px 0px;
	background: transparent url("../images/otrasl-rollover.png") no-repeat left top;
	background-size: contain;
}

#pu3099,#pu3171
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 648px;
}

#u3171
{
	z-index: 360;
	width: 304px;
	position: relative;
}

#u3170-4
{
	z-index: 91;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 22px;
	position: relative;
}

#u349-4:active,#u3170-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 22px 0px 0px;
}

#u3170-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 22px 0px 0px;
}

#u3170-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3169-4
{
	z-index: 238;
	width: 304px;
	min-height: 24px;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 2px;
	position: relative;
}

#pu3105,#pu3165
{
	width: 0.01px;
	margin-top: 17px;
}

#u3165
{
	z-index: 363;
	width: 120px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bub_obshestvo-normal.png") no-repeat left top;
	background-size: contain;
}

#u3168-4
{
	z-index: 151;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 140px;
}

#u397-4:active,#u3168-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u3168-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u3168-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#pu3072,#pu3163
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: -6px;
}

#u3163
{
	z-index: 356;
	width: 192px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bub_regul-normal.png") no-repeat left top;
	background-size: contain;
}

#u3164-4
{
	z-index: 127;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 204px;
}

#u3164-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 8px -10000px 0px 0px;
}

#u3164-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 8px -10000px 0px 0px;
}

#u3164-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#pu2442,#pu3157
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 61px;
}

#u3157
{
	z-index: 275;
	width: 628px;
	position: relative;
	margin-right: -10000px;
}

#pu393-4,#pu3162-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 648px;
}

#u3162-4
{
	z-index: 75;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u3180-4:active,#u3162-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u3162-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u3162-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3161-4
{
	z-index: 175;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u3178-4:active,#u3161-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u3161-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u3161-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3160
{
	z-index: 199;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u3156-4
{
	z-index: 222;
	width: 304px;
	min-height: 217px;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3155-4
{
	z-index: 99;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-left: 4px;
	position: relative;
}

#u357-4:active,#u3155-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px 0px 0px 4px;
}

#u3155-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px 0px 0px 4px;
}

#u3155-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#pu358-6,#pu3150-6
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: -5px;
}

#u3150-6
{
	z-index: 248;
	width: 628px;
	min-height: 48px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u3150-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 20px -10000px 0px 0px;
}

#u324-8:hover p,#u324-8:hover span,#u344-4:hover p,#u344-4:hover span,#u358-6:hover p,#u358-6:hover span,#u3166-8:hover p,#u3166-8:hover span,#u3167-4:hover p,#u3167-4:hover span,#u3150-6:hover p,#u3150-6:hover span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u324,#u344,#u350,#u398,#u358,#u358-3,#u414,#u432,#u3166,#u3167,#u3169,#u3156,#u3150,#u3150-3
{
	font-family: pt-serif, sans-serif;
	font-weight: 400;
}

#u3153
{
	z-index: 365;
	width: 120px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	left: 648px;
	background: transparent url("../images/bub_obshestvo-normal.png") no-repeat left top;
	background-size: contain;
}

#u3105:hover,#u3117:hover,#u3165:hover,#u3153:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/bub_obshestvo-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3154-4
{
	z-index: 135;
	width: 78px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 788px;
}

#u3154-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 10px -10000px 0px 0px;
}

#u3154-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#pu5788
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 13px;
}

#u5788
{
	z-index: 357;
	width: 192px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bub_regul-normal.png") no-repeat left top;
	background-size: contain;
}

#u3072:hover,#u5790:hover,#u3163:hover,#u5788:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/bub_regul-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3151-4
{
	z-index: 159;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 206px;
}

#u3154-4:active,#u3151-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 10px -10000px 0px 0px;
}

#u3151-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 10px -10000px 0px 0px;
}

#u3151-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u499
{
	z-index: 270;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #E8E8E8;
}

#u499-bw
{
	z-index: 270;
	margin-top: 104px;
	height: 1px;
}

#pu505-4
{
	width: 0.01px;
	margin-left: 450px;
	margin-top: 20px;
}

#u505-4
{
	z-index: 103;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #00A99D;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
}

#u505-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u505-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u507-4
{
	z-index: 107;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #525252;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	left: 24px;
}

#u505-4:active,#u507-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u507-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u509-4
{
	z-index: 111;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #525252;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u507-4:active,#u509-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u509-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u319-4:active p,#u322-4:active p,#u343-4:active p,#u342-4:active p,#u340-4:active p,#u349-4:active p,#u346-4:active p,#u338-4:active p,#u393-4:active p,#u394-4:active p,#u357-4:active p,#u397-4:active p,#u360-4:active p,#u426-4:active p,#u433-4:active p,#u3181-4:active p,#u3179-4:active p,#u3180-4:active p,#u3178-4:active p,#u3175-4:active p,#u3170-4:active p,#u3168-4:active p,#u3164-4:active p,#u3162-4:active p,#u3161-4:active p,#u3155-4:active p,#u3154-4:active p,#u3151-4:active p,#u505-4:active p,#u507-4:active p,#u509-4:active p
{
	color: #87C9C4;
	visibility: inherit;
	text-decoration: none;
}

#u500
{
	z-index: 271;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #E8E8E8;
}

#u500-bw
{
	z-index: 271;
	margin-top: 14px;
	height: 1px;
}

#pu2852,#pu529
{
	width: 0.01px;
	margin-left: -100px;
}

#u529,#u529-bw
{
	z-index: 2;
	height: 232px;
}

#u540,#u540-bw
{
	z-index: 3;
	height: 232px;
}

#u2860,#u2860-bw
{
	z-index: 4;
	height: 232px;
}

#u2861
{
	z-index: 5;
	padding-bottom: 22px;
}

#u2861_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#ppu534
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 104px;
}

#pu534
{
	width: 0.01px;
}

#u534
{
	z-index: 35;
	width: 118px;
	margin-right: -10000px;
}

#u536-11
{
	z-index: 37;
	width: 679px;
	min-height: 63px;
	margin-right: -10000px;
	left: 162px;
}

#pu530-4
{
	width: 0.01px;
	margin-top: 70px;
}

#u530-4
{
	z-index: 6;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
}

#u2862-4
{
	z-index: 14;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
	left: 110px;
}

#u531-4
{
	z-index: 10;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
	left: 221px;
}

#u532-4
{
	z-index: 18;
	width: 118px;
	min-height: 18px;
	margin-right: -10000px;
	left: 329px;
}

#u539-4
{
	z-index: 22;
	width: 168px;
	min-height: 18px;
	margin-right: -10000px;
	left: 485px;
}

#u542-4
{
	z-index: 26;
	width: 202px;
	min-height: 18px;
	margin-right: -10000px;
	left: 677px;
}

#u509-4:active,#u530-4:hover,#u2862-4:hover,#u531-4:hover,#u532-4:hover,#u539-4:hover,#u542-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u544-4
{
	z-index: 30;
	width: 48px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 192px;
	left: 1008px;
}

#u544-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 192px -10000px 0px 0px;
}

#u2861-bw
{
	z-index: 5;
	height: 210px;
}

#u533
{
	z-index: 34;
	height: 1px;
}

#u533-bw
{
	z-index: 34;
	margin-top: 169px;
	height: 1px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

