/*

*/

.version.index /* version checker */
{
	color: #0000F7;
	background-color: #ACCA0B;
}

.html
{
	background-color: #FFBF00;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 2671px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 26px;
}

#top
{
	margin-left: 629px;
	position: relative;
}

#pu132
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 8px;
}

#u132
{
	z-index: 4;
	width: 175px;
	margin-right: -10000px;
}

#pu163
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 761px;
}

#u163
{
	z-index: 2;
	width: 257px;
	margin-right: -10000px;
}

#u158-4
{
	z-index: 14;
	width: 211px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 20px;
}

#u158-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 8px -10000px 0px 0px;
}

#u138
{
	z-index: 6;
	width: 144px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 1048px;
}

#u153
{
	z-index: 8;
	width: 144px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 586px;
}

#u156-4
{
	z-index: 10;
	width: 88px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 611px;
}

#u162-4
{
	z-index: 18;
	width: 110px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 1061px;
}

#u156-4:hover,#u162-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 36px -10000px 0px 0px;
}

#ppu92-4
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 12px;
}

#pu92-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 78px;
}

#u92-4
{
	z-index: 39;
	width: 388px;
	min-height: 50px;
	background-color: #000000;
	line-height: 50px;
	font-size: 36px;
	color: #FFFFFF;
	font-family: '__Raleway_5';
	font-weight: 700;
	position: relative;
}

#u98-4
{
	z-index: 47;
	width: 335px;
	min-height: 50px;
	background-color: #000000;
	line-height: 50px;
	font-size: 36px;
	color: #FFFFFF;
	font-family: '__Raleway_5';
	font-weight: 700;
	margin-top: 5px;
	position: relative;
}

#u99-4
{
	z-index: 51;
	width: 504px;
	min-height: 159px;
	background-color: transparent;
	line-height: 32px;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 34px;
	position: relative;
}

#pu169
{
	width: 0.01px;
	margin-top: 96px;
}

#u169
{
	z-index: 105;
	width: 197px;
	height: 64px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/more_but-normal.png") no-repeat left top;
	background-size: contain;
}

#u169:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/more_but-rollover.png") no-repeat left top;
	background-size: contain;
}

#u180
{
	z-index: 106;
	width: 131px;
	height: 64px;
	position: relative;
	margin-right: -10000px;
	left: 238px;
	background: transparent url("../images/order_but-normal.png") no-repeat left top;
	background-size: contain;
}

#u180:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/order_but-rollover.png") no-repeat left top;
	background-size: contain;
}

#u101
{
	z-index: 79;
	width: 603px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 589px;
}

#pu113
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 14px;
}

#u113
{
	z-index: 81;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u113-bw
{
	z-index: 81;
	margin-top: 13px;
	height: 4px;
}

#u107
{
	z-index: 129;
	width: 67px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 707px;
}

#learn_more
{
	margin-left: 630px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u117-4
{
	z-index: 85;
	width: 607px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	font-family: '__Raleway_5';
	font-weight: 700;
	margin-left: 337px;
	margin-top: 29px;
	position: relative;
}

#pu192
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 76px;
}

#u192
{
	z-index: 107;
	width: 172px;
	height: 172px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/battery_but-normal.png") no-repeat left top;
	background-size: contain;
}

#u192:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/battery_but-rollover.png") no-repeat left top;
	background-size: contain;
}

#pu122-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 40px;
	margin-left: 202px;
}

#u122-4
{
	z-index: 97;
	width: 240px;
	min-height: 21px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: '__Raleway_5';
	font-weight: 700;
	position: relative;
}

#u123-4
{
	z-index: 71;
	width: 381px;
	min-height: 58px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 17px;
	position: relative;
}

#u203
{
	z-index: 108;
	width: 172px;
	height: 172px;
	position: relative;
	margin-right: -10000px;
	left: 606px;
	background: transparent url("../images/ups_but-normal.png") no-repeat left top;
	background-size: contain;
}

#u203:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/ups_but-rollover.png") no-repeat left top;
	background-size: contain;
}

#pu124-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 40px;
	margin-left: 808px;
}

#u124-4
{
	z-index: 101;
	width: 381px;
	min-height: 21px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: '__Raleway_5';
	font-weight: 700;
	position: relative;
}

#u125-4
{
	z-index: 75;
	width: 381px;
	min-height: 76px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 17px;
	position: relative;
}

#pu118
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 63px;
}

#u118
{
	z-index: 82;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u118-bw
{
	z-index: 82;
	margin-top: 13px;
	height: 4px;
}

#u119
{
	z-index: 131;
	width: 67px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 707px;
}

#u126-4
{
	z-index: 89;
	width: 711px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	font-family: '__Raleway_5';
	font-weight: 700;
	margin-left: 285px;
	margin-top: 46px;
	position: relative;
}

#pu214
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 53px;
}

#u214
{
	z-index: 109;
	width: 181px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u220
{
	z-index: 111;
	width: 181px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 202px;
}

#u225
{
	z-index: 113;
	width: 181px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 405px;
}

#u230
{
	z-index: 115;
	width: 181px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 607px;
}

#u250
{
	z-index: 119;
	width: 181px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 809px;
}

#u240
{
	z-index: 117;
	width: 181px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1011px;
}

#u256
{
	z-index: 121;
	width: 217px;
	height: 64px;
	margin-left: 532px;
	margin-top: 60px;
	position: relative;
	background: transparent url("../images/more_br_but-normal.png") no-repeat left top;
	background-size: contain;
}

#u256:hover
{
	margin: 60px 0px 0px 532px;
	background: transparent url("../images/more_br_but-rollover.png") no-repeat left top;
	background-size: contain;
}

#pu127
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 59px;
}

#u127
{
	z-index: 83;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u127-bw
{
	z-index: 83;
	margin-top: 13px;
	height: 4px;
}

#u128
{
	z-index: 133;
	width: 67px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 707px;
}

#u131-4
{
	z-index: 93;
	width: 477px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	font-family: '__Raleway_5';
	font-weight: 700;
	margin-left: 402px;
	margin-top: 42px;
	position: relative;
}

#u117,#u126,#u131
{
	font-size: 36px;
}

#pu387
{
	width: 0.01px;
	margin-left: 125px;
	margin-top: 32px;
}

#u387
{
	z-index: 137;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u393
{
	z-index: 139;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 415px;
}

#u399
{
	z-index: 141;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 830px;
}

#u387_img,#u393_img,#u399_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#pu406-4
{
	width: 0.01px;
	margin-left: 134px;
	margin-top: 15px;
}

#u406-4
{
	z-index: 59;
	width: 181px;
	min-height: 66px;
	background-color: transparent;
	line-height: 32px;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
}

#u407-4
{
	z-index: 63;
	width: 181px;
	min-height: 66px;
	background-color: transparent;
	line-height: 32px;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	left: 416px;
}

#u409-4
{
	z-index: 67;
	width: 181px;
	min-height: 66px;
	background-color: transparent;
	line-height: 32px;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	left: 832px;
}

#pu268
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 19px;
}

#u268
{
	z-index: 84;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u268-bw
{
	z-index: 84;
	margin-top: 13px;
	height: 4px;
}

#u269
{
	z-index: 135;
	width: 67px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 707px;
}

#order
{
	margin-left: 630px;
	position: relative;
}

#u272-4
{
	z-index: 43;
	width: 371px;
	min-height: 50px;
	background-color: #000000;
	line-height: 50px;
	font-size: 36px;
	color: #FFFFFF;
	font-family: '__Raleway_5';
	font-weight: 700;
	margin-left: 455px;
	margin-top: 36px;
	position: relative;
}

#u92-2,#u98-2,#u272-2
{
	padding-left: 8px;
}

#pu274-4
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 67px;
}

#u274-4
{
	z-index: 55;
	width: 596px;
	min-height: 159px;
	background-color: transparent;
	line-height: 32px;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
}

#pu275-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 727px;
}

#u275-4
{
	z-index: 122;
	width: 384px;
	min-height: 50px;
	background-color: transparent;
	line-height: 53px;
	font-size: 44px;
	font-family: '__Raleway_5';
	font-weight: 700;
	position: relative;
}

#u275
{
	font-size: 44px;
}

#pu276
{
	width: 0.01px;
	margin-top: 31px;
}

#u276
{
	z-index: 126;
	width: 286px;
	height: 64px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/choose_but-normal.png") no-repeat left top;
	background-size: contain;
}

#u276:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/choose_but-rollover.png") no-repeat left top;
	background-size: contain;
}

#u288
{
	z-index: 127;
	width: 66px;
	height: 64px;
	position: relative;
	margin-right: -10000px;
	left: 318px;
	background: transparent url("../images/price_but-normal.png") no-repeat left top;
	background-size: contain;
}

#u288:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/price_but-rollover.png") no-repeat left top;
	background-size: contain;
}

#u300
{
	z-index: 128;
	width: 53px;
	height: 20px;
	margin-left: 614px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/up_but-normal.png") no-repeat left top;
	background-size: contain;
}

#u300:hover
{
	margin: 46px 0px 0px 614px;
	background: transparent url("../images/up_but-rollover.png") no-repeat left top;
	background-size: contain;
}

#pu320
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 20px;
}

#u320
{
	z-index: 22;
	height: 4px;
}

#u320-bw
{
	z-index: 22;
	margin-top: 13px;
	height: 4px;
}

#u318
{
	z-index: 37;
	width: 67px;
	margin-right: -10000px;
	left: 706px;
}

#pu322
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 11px;
}

#u322
{
	z-index: 23;
	width: 70px;
	margin-right: -10000px;
}

#u328-4
{
	z-index: 25;
	width: 480px;
	min-height: 39px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 88px;
}

#u331
{
	z-index: 35;
	width: 29px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 867px;
}

#u330-6
{
	z-index: 29;
	width: 288px;
	min-height: 45px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 904px;
}

@font-face
{
	font-family: '__Raleway_5';
	src: url('../fonts/raleway-bold.eot');
	src: local('☺'), url('../fonts/raleway-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1280px;
}

#page .verticalspacer
{
	clear: both;
}

