.version.index /* version checker */
{
	color: #00000B;
	background-color: #4C4917;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3384px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 2px;
}

#pu126-4
{
	width: 0.01px;
	margin-left: 4px;
}

#u126-4
{
	z-index: 50;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
}

#u86
{
	z-index: 46;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	left: 376px;
}

#u109
{
	z-index: 49;
	width: 36px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 803px;
	background: transparent url("../images/btn_search-normal.png") no-repeat left top;
	background-size: contain;
}

#u109:hover
{
	margin: 18px -10000px 0px 0px;
	background: transparent url("../images/btn_search-rollover.png") no-repeat left top;
	background-size: contain;
}

#u109:active
{
	margin: 18px -10000px 0px 0px;
	background: transparent url("../images/btn_search-down.png") no-repeat left top;
	background-size: contain;
}

#u92
{
	z-index: 48;
	width: 100px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 852px;
	background: transparent url("../images/btn_login-normal.png") no-repeat left top;
	background-size: contain;
}

#u92:hover
{
	margin: 18px -10000px 0px 0px;
	background: transparent url("../images/btn_login-rollover.png") no-repeat left top;
	background-size: contain;
}

#u92:active
{
	margin: 18px -10000px 0px 0px;
	background: transparent url("../images/btn_login-down.png") no-repeat left top;
	background-size: contain;
}

#u136-4
{
	z-index: 178;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 103px;
}

#u138-4
{
	z-index: 182;
	width: 118px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 200px;
}

#u126-4:hover,#u136-4:hover,#u138-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 27px -10000px 0px 0px;
}

#u126-4:hover p,#u136-4:hover p,#u138-4:hover p
{
	text-decoration: underline;
}

#u145
{
	z-index: 186;
	width: 606px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #D9D9D9;
	left: -606px;
	position: relative;
}

#pu281
{
	width: 0.01px;
	margin-left: -606px;
	margin-top: -2px;
}

#u281
{
	z-index: 42;
	border-style: none;
	border-color: transparent;
	background-color: #FDFCFB;
	padding-bottom: 22px;
}

#u281_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#pu2558-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 81px;
	margin-left: 108px;
}

#u2558-4
{
	z-index: 381;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u2561-4
{
	z-index: 393;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 79px;
	position: relative;
}

#u2564-4
{
	z-index: 405;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 83px;
	position: relative;
}

#pu2549-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 77px;
	margin-left: 155px;
}

#u2549-4
{
	z-index: 345;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2552-4
{
	z-index: 357;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u2555-4
{
	z-index: 369;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#pu2559-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 81px;
	margin-left: 432px;
}

#u2559-4
{
	z-index: 385;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u2562-4
{
	z-index: 397;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 79px;
	position: relative;
}

#u2565-4
{
	z-index: 409;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 83px;
	position: relative;
}

#pu2550-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 77px;
	margin-left: 479px;
}

#u2550-4
{
	z-index: 349;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2553-4
{
	z-index: 361;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u2556-4
{
	z-index: 373;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#pu2560-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 81px;
	margin-left: 756px;
}

#u2560-4
{
	z-index: 389;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u2563-4
{
	z-index: 401;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 79px;
	position: relative;
}

#u2566-4
{
	z-index: 413;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 83px;
	position: relative;
}

#pu2551-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 77px;
	margin-left: 803px;
}

#u2551-4
{
	z-index: 353;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2554-4
{
	z-index: 365;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u2557-4
{
	z-index: 377;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u281-bw
{
	z-index: 42;
	margin-top: 42px;
	height: 318px;
}

#u282
{
	z-index: 44;
	width: 960px;
	position: relative;
	margin-right: -10000px;
	left: 606px;
}

#u164
{
	z-index: 187;
	width: 606px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #D9D9D9;
	position: relative;
	margin-right: -10000px;
	left: 1566px;
}

#u146
{
	z-index: 188;
	width: 606px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
}

#u163
{
	z-index: 197;
	width: 606px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 1566px;
}

#u165
{
	z-index: 198;
	width: 83px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 597px;
	background: transparent url("../images/vlast-normal.png") no-repeat left top;
	background-size: contain;
}

#u165:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/vlast-rollover.png") no-repeat left top;
	background-size: contain;
}

#u182
{
	z-index: 199;
	width: 189px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 677px;
	background: transparent url("../images/fin_kont-normal.png") no-repeat left top;
	background-size: contain;
}

#u182:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/fin_kont-rollover.png") no-repeat left top;
	background-size: contain;
}

#u198
{
	z-index: 200;
	width: 156px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 864px;
	background: transparent url("../images/biz_rin-normal.png") no-repeat left top;
	background-size: contain;
}

#u198:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/biz_rin-rollover.png") no-repeat left top;
	background-size: contain;
}

#u214
{
	z-index: 201;
	width: 148px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 1151px;
	background: transparent url("../images/regul-normal.png") no-repeat left top;
	background-size: contain;
}

#u214:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/regul-rollover.png") no-repeat left top;
	background-size: contain;
}

#u230
{
	z-index: 202;
	width: 85px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 1305px;
	background: transparent url("../images/otrasl-normal.png") no-repeat left top;
	background-size: contain;
}

#u230:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/otrasl-rollover.png") no-repeat left top;
	background-size: contain;
}

#u247
{
	z-index: 203;
	width: 103px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 1395px;
	background: transparent url("../images/obshestvo-normal.png") no-repeat left top;
	background-size: contain;
}

#u247:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/obshestvo-rollover.png") no-repeat left top;
	background-size: contain;
}

#u263
{
	z-index: 204;
	width: 68px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 1504px;
	background: transparent url("../images/obraz-normal.png") no-repeat left top;
	background-size: contain;
}

#u263:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/obraz-rollover.png") no-repeat left top;
	background-size: contain;
}

#u307
{
	z-index: 206;
	width: 94px;
	height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 610px;
	background: transparent url("../images/btn_feed-normal.png") no-repeat left top;
	background-size: contain;
}

#u307:hover
{
	margin: 68px -10000px 0px 0px;
	background: transparent url("../images/btn_feed-rollover.png") no-repeat left top;
	background-size: contain;
}

#u302
{
	z-index: 189;
	width: 1000px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	left: -606px;
	position: relative;
}

#pu290
{
	width: 0.01px;
	margin-left: 394px;
	margin-top: -2px;
}

#u290
{
	z-index: 205;
	width: 172px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/btn_allnews-normal.png") no-repeat left top;
	background-size: contain;
}

#u290:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/btn_allnews-rollover.png") no-repeat left top;
	background-size: contain;
}

#u305
{
	z-index: 196;
	width: 1000px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	position: relative;
	margin-right: -10000px;
	left: 172px;
}

#ppu319-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 36px;
}

#u319-4
{
	z-index: 54;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u319-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u319-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u322-4
{
	z-index: 154;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	line-height: 22px;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u322-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u322-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u323
{
	z-index: 190;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u324-14
{
	z-index: 207;
	width: 304px;
	min-height: 298px;
	background-color: transparent;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u343-4
{
	z-index: 70;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u319-4:active,#u343-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u343-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u342-4
{
	z-index: 170;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	line-height: 22px;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u322-4:active,#u342-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u342-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u341
{
	z-index: 194;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u344-14
{
	z-index: 263;
	width: 304px;
	min-height: 298px;
	background-color: transparent;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u324-14:hover,#u344-14:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 298px;
	margin: 13px 0px 0px;
}

#u351
{
	z-index: 321;
	width: 304px;
	position: relative;
}

#u349-4
{
	z-index: 78;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 22px;
	position: relative;
}

#u349-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 22px 0px 0px;
}

#u349-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u350-4
{
	z-index: 291;
	width: 304px;
	min-height: 48px;
	line-height: 21px;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u326
{
	z-index: 317;
	width: 90px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/vlast-normal2.png") no-repeat left top;
	background-size: contain;
}

#u338-4
{
	z-index: 114;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 102px;
}

#u338-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u338-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u370
{
	z-index: 327;
	width: 100px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	left: 324px;
	background: transparent url("../images/otrasl-normal2.png") no-repeat left top;
	background-size: contain;
}

#u340-4
{
	z-index: 130;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 436px;
}

#u338-4:active,#u340-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u340-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u382
{
	z-index: 329;
	width: 160px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	left: 648px;
	background: transparent url("../images/biz_rin-normal2.png") no-repeat left top;
	background-size: contain;
}

#u346-4
{
	z-index: 138;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 820px;
}

#u340-4:active,#u346-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u346-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u2442
{
	z-index: 343;
	width: 628px;
	position: relative;
}

#u357-4
{
	z-index: 86;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 21px;
	position: relative;
}

#u357-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 21px 0px 0px;
}

#u357-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u358-6
{
	z-index: 299;
	width: 628px;
	min-height: 48px;
	background-color: transparent;
	line-height: 21px;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u358-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 14px 0px 0px;
}

#u324-14:hover p,#u324-14:hover span,#u344-14:hover p,#u344-14:hover span,#u358-6:hover p,#u358-6:hover span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u393-4
{
	z-index: 62;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u343-4:active,#u393-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u393-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u394-4
{
	z-index: 162;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	line-height: 22px;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u342-4:active,#u394-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u394-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u395
{
	z-index: 192;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u398-14
{
	z-index: 235;
	width: 304px;
	min-height: 298px;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u2448
{
	z-index: 338;
	width: 159px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/regul-normal2.png") no-repeat left top;
	background-size: contain;
}

#u2448:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/regul-rollover2.png") no-repeat left top;
	background-size: contain;
}

#u360-4
{
	z-index: 146;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 171px;
}

#u360-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 8px -10000px 0px 0px;
}

#u360-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u774
{
	z-index: 341;
	width: 206px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	left: 648px;
	background: transparent url("../images/fin_kont-normal2.png") no-repeat left top;
	background-size: contain;
}

#u774:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/fin_kont-rollover2.png") no-repeat left top;
	background-size: contain;
}

#u397-4
{
	z-index: 122;
	width: 78px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 869px;
}

#u346-4:active,#u397-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u397-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u399
{
	z-index: 43;
	border-width: 1px;
	border-style: solid;
	border-color: #E1DED8;
	background-color: #FDFCFB;
	padding-bottom: 42px;
}

#u399_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	position: relative;
	left: -100px;
}

#u406
{
	z-index: 333;
	width: 162px;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 134px;
}

#pu400
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 315px;
}

#u400
{
	z-index: 331;
	width: 200px;
	margin-left: 164px;
	position: relative;
}

#ppu426-4
{
	width: 0.01px;
	margin-top: 31px;
}

#u426-4
{
	z-index: 106;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u393-4:active,#u426-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u426-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u414-4
{
	z-index: 309;
	width: 243px;
	min-height: 93px;
	line-height: 21px;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u415
{
	z-index: 337;
	width: 159px;
	height: 39px;
	margin-top: 11px;
	position: relative;
	background: transparent url("../images/regul-normal2.png") no-repeat left top;
	background-size: contain;
}

#u415:hover
{
	margin: 11px 0px 0px;
	background: transparent url("../images/regul-rollover2.png") no-repeat left top;
	background-size: contain;
}

#u429
{
	z-index: 335;
	width: 162px;
	position: relative;
	margin-right: -10000px;
	left: 304px;
}

#pu433-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 86px;
	margin-left: 801px;
}

#u433-4
{
	z-index: 110;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u426-4:active,#u433-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u433-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u432-4
{
	z-index: 313;
	width: 243px;
	min-height: 93px;
	line-height: 21px;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u786
{
	z-index: 342;
	width: 84px;
	height: 39px;
	margin-top: 11px;
	position: relative;
	background: transparent url("../images/obraz-normal2.png") no-repeat left top;
	background-size: contain;
}

#u786:hover
{
	margin: 11px 0px 0px;
	background: transparent url("../images/obraz-rollover2.png") no-repeat left top;
	background-size: contain;
}

#u399-bw
{
	z-index: 43;
	margin-top: 47px;
	height: 259px;
}

#ppu475-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 62px;
}

#pu319-4,#pu475-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u475-4
{
	z-index: 58;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u433-4:active,#u475-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u475-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u474-4
{
	z-index: 158;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	line-height: 22px;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u394-4:active,#u474-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u474-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u477
{
	z-index: 191;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u498-14
{
	z-index: 221;
	width: 304px;
	min-height: 298px;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#pu343-4,#pu472-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 324px;
}

#u472-4
{
	z-index: 74;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u475-4:active,#u472-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u472-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u470-4
{
	z-index: 174;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	line-height: 22px;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u474-4:active,#u470-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u470-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u473
{
	z-index: 195;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u471-14
{
	z-index: 277;
	width: 304px;
	min-height: 298px;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u467
{
	z-index: 323;
	width: 304px;
	position: relative;
}

#u476-4
{
	z-index: 82;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 22px;
	position: relative;
}

#u349-4:active,#u476-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 22px 0px 0px;
}

#u476-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 22px 0px 0px;
}

#u476-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u478-4
{
	z-index: 295;
	width: 304px;
	min-height: 48px;
	line-height: 21px;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#pu326,#pu2448,#pu480
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 14px;
}

#u480
{
	z-index: 318;
	width: 90px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/vlast-normal2.png") no-repeat left top;
	background-size: contain;
}

#u482-4
{
	z-index: 118;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 102px;
}

#u360-4:active,#u482-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 8px -10000px 0px 0px;
}

#u482-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u479
{
	z-index: 328;
	width: 100px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	left: 324px;
	background: transparent url("../images/otrasl-normal2.png") no-repeat left top;
	background-size: contain;
}

#u370:hover,#u479:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/otrasl-rollover2.png") no-repeat left top;
	background-size: contain;
}

#u483-4
{
	z-index: 134;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 436px;
}

#u482-4:active,#u483-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 8px -10000px 0px 0px;
}

#u483-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u481
{
	z-index: 330;
	width: 160px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	left: 648px;
	background: transparent url("../images/biz_rin-normal2.png") no-repeat left top;
	background-size: contain;
}

#u382:hover,#u481:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/biz_rin-rollover2.png") no-repeat left top;
	background-size: contain;
}

#u484-4
{
	z-index: 142;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 820px;
}

#u483-4:active,#u484-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 8px -10000px 0px 0px;
}

#u484-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#ppu2442,#ppu486
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 61px;
}

#pu2442,#pu426-4,#pu486
{
	width: 0.01px;
	margin-right: -10000px;
}

#u486
{
	z-index: 325;
	width: 628px;
	position: relative;
}

#u492-4
{
	z-index: 90;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 21px;
	position: relative;
}

#u357-4:active,#u492-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 21px 0px 0px;
}

#u492-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 21px 0px 0px;
}

#u492-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u493-4
{
	z-index: 305;
	width: 628px;
	min-height: 48px;
	line-height: 21px;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#pu351,#pu393-4,#pu467,#pu485-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 648px;
}

#u485-4
{
	z-index: 66;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u472-4:active,#u485-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u485-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u485-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u489-4
{
	z-index: 166;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	line-height: 22px;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u470-4:active,#u489-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u489-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u489-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u490
{
	z-index: 193;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u491-14
{
	z-index: 249;
	width: 304px;
	min-height: 298px;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u324-8,#u344-8,#u398-8,#u498-8,#u471-8,#u491-8
{
	line-height: 30px;
	padding-top: 10px;
}

#u324-2,#u324-4,#u324-6,#u324-10,#u324-12,#u344-2,#u344-4,#u344-6,#u344-10,#u344-12,#u398-2,#u398-4,#u398-6,#u398-10,#u398-12,#u498-2,#u498-4,#u498-6,#u498-10,#u498-12,#u471-2,#u471-4,#u471-6,#u471-10,#u471-12,#u491-2,#u491-4,#u491-6,#u491-10,#u491-12
{
	line-height: 21px;
}

#u324,#u324-11,#u344,#u344-11,#u350,#u358,#u358-3,#u398,#u398-11,#u414,#u432,#u498,#u498-11,#u471,#u471-11,#u478,#u493,#u491,#u491-11
{
	font-family: pt-serif, sans-serif;
	font-weight: 400;
}

#pu494
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 13px;
}

#u494
{
	z-index: 320;
	width: 90px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/vlast-normal2.png") no-repeat left top;
	background-size: contain;
}

#u326:hover,#u480:hover,#u494:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/vlast-rollover2.png") no-repeat left top;
	background-size: contain;
}

#u497-4
{
	z-index: 150;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 102px;
}

#u484-4:active,#u497-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 8px -10000px 0px 0px;
}

#u497-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 8px -10000px 0px 0px;
}

#u497-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u496
{
	z-index: 319;
	width: 90px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 648px;
	background: transparent url("../images/vlast-normal2.png") no-repeat left top;
	background-size: contain;
}

#u496:hover
{
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/vlast-rollover2.png") no-repeat left top;
	background-size: contain;
}

#u495-4
{
	z-index: 126;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 750px;
}

#u397-4:active,#u495-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u495-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u495-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u499
{
	z-index: 339;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #E8E8E8;
}

#u499-bw
{
	z-index: 339;
	margin-top: 101px;
	height: 1px;
}

#pu505-4
{
	width: 0.01px;
	margin-left: 450px;
	margin-top: 20px;
}

#u505-4
{
	z-index: 94;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #00A99D;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
}

#u505-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u505-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u507-4
{
	z-index: 98;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #525252;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	left: 24px;
}

#u505-4:active,#u507-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u507-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u509-4
{
	z-index: 102;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #525252;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u507-4:active,#u509-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u509-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u319-4:active p,#u322-4:active p,#u343-4:active p,#u342-4:active p,#u349-4:active p,#u338-4:active p,#u340-4:active p,#u346-4:active p,#u357-4:active p,#u393-4:active p,#u394-4:active p,#u360-4:active p,#u397-4:active p,#u426-4:active p,#u433-4:active p,#u475-4:active p,#u474-4:active p,#u472-4:active p,#u470-4:active p,#u476-4:active p,#u482-4:active p,#u483-4:active p,#u484-4:active p,#u492-4:active p,#u485-4:active p,#u489-4:active p,#u497-4:active p,#u495-4:active p,#u505-4:active p,#u507-4:active p,#u509-4:active p
{
	color: #87C9C4;
	visibility: inherit;
	text-decoration: none;
}

#u500
{
	z-index: 340;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #E8E8E8;
}

#u500-bw
{
	z-index: 340;
	margin-top: 14px;
	height: 1px;
}

#pu529
{
	width: 0.01px;
	margin-left: -100px;
}

#u529,#u529-bw
{
	z-index: 2;
	height: 232px;
}

#u540
{
	z-index: 3;
	padding-bottom: 22px;
}

#u540_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu534
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 104px;
}

#u534
{
	z-index: 29;
	width: 118px;
}

#u530-4
{
	z-index: 4;
	width: 98px;
	min-height: 18px;
	margin-top: 78px;
}

#u530-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 78px 0px 0px;
}

#pu536-11
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 233px;
}

#u536-11
{
	z-index: 31;
	width: 679px;
	min-height: 63px;
	margin-left: 33px;
}

#pu531-4
{
	width: 0.01px;
	margin-top: 70px;
}

#u531-4
{
	z-index: 8;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
}

#u532-4
{
	z-index: 12;
	width: 118px;
	min-height: 18px;
	margin-right: -10000px;
	left: 126px;
}

#u539-4
{
	z-index: 16;
	width: 168px;
	min-height: 18px;
	margin-right: -10000px;
	left: 307px;
}

#u542-4
{
	z-index: 20;
	width: 202px;
	min-height: 18px;
	margin-right: -10000px;
	left: 525px;
}

#u509-4:active,#u531-4:hover,#u532-4:hover,#u539-4:hover,#u542-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u544-4
{
	z-index: 24;
	width: 48px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 192px;
	left: 1008px;
}

#u544-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 192px -10000px 0px 0px;
}

#u540-bw
{
	z-index: 3;
	height: 210px;
}

#u533
{
	z-index: 28;
	height: 1px;
}

#u533-bw
{
	z-index: 28;
	margin-top: 169px;
	height: 1px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

