#u529,#u540
{
	border-style: none;
	border-color: transparent;
	background-color: #FDFCFB;
}

#u540_align_to_page,#u534
{
	position: relative;
}

#u530-4
{
	background-color: transparent;
	line-height: 14px;
	color: #686868;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u536-11
{
	line-height: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u536
{
	color: #87C9C4;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u536-7
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u531-4
{
	background-color: transparent;
	line-height: 14px;
	color: #686868;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u532-4
{
	background-color: transparent;
	line-height: 14px;
	color: #686868;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u539-4
{
	background-color: transparent;
	line-height: 14px;
	color: #686868;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u542-4
{
	background-color: transparent;
	line-height: 14px;
	color: #686868;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u544-4
{
	background-color: transparent;
	line-height: 14px;
	color: #686868;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u530-4:hover p,#u531-4:hover p,#u532-4:hover p,#u539-4:hover p,#u542-4:hover p,#u544-4:hover p
{
	text-decoration: underline;
}

#u533
{
	border-style: none;
	border-color: transparent;
	background-color: #E8E8E8;
}

