.version.obraz /* version checker */
{
	color: #0000FF;
	background-color: #170258;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 502px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 2px;
}

#u5703
{
	z-index: 51;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
}

#u5703-bw
{
	z-index: 51;
	margin-top: 45px;
	height: 2px;
}

#u5646
{
	z-index: 52;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u5650
{
	z-index: 56;
	width: 100px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 956px;
	background: transparent url("../images/btn_login-normal.png") no-repeat left top;
	background-size: contain;
}

#u5650:hover
{
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/btn_login-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5650:active
{
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/btn_login-down.png") no-repeat left top;
	background-size: contain;
}

#u5678
{
	z-index: 57;
	width: 36px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 907px;
	background: transparent url("../images/btn_search-normal.png") no-repeat left top;
	background-size: contain;
}

#u5678:hover
{
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/btn_search-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5678:active
{
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/btn_search-down.png") no-repeat left top;
	background-size: contain;
}

#u5641-4
{
	z-index: 58;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 104px;
}

#u5665-4
{
	z-index: 126;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 343px;
}

#u5669-4
{
	z-index: 130;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 227px;
}

#u5641-4:hover,#u5665-4:hover,#u5669-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 17px -10000px 0px 0px;
}

#u5673
{
	z-index: 49;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #D9D9D9;
}

#u5673-bw
{
	z-index: 49;
	height: 2px;
}

#pu5652
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u5652
{
	z-index: 48;
	border-style: none;
	border-color: transparent;
	background-color: #FDFCFB;
	padding-bottom: 28px;
}

#u5652_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#pu5704-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 81px;
	margin-left: 108px;
}

#u5704-4
{
	z-index: 210;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5656-4
{
	z-index: 214;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 66px;
	position: relative;
}

#u5634-4
{
	z-index: 242;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 68px;
	position: relative;
}

#pu5689-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 77px;
	margin-left: 155px;
}

#u5689-6
{
	z-index: 172;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5689-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 69px;
	margin: 0px;
}

#u5664-4
{
	z-index: 178;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u5664-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 69px;
	margin: 16px 0px 0px;
}

#u5649-4
{
	z-index: 206;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u5649-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 18px 0px 0px;
}

#pu5662-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 85px;
	margin-left: 428px;
}

#u5662-4
{
	z-index: 238;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5676-4
{
	z-index: 218;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 62px;
	position: relative;
}

#u5688-4
{
	z-index: 222;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 68px;
	position: relative;
}

#pu5675-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 81px;
	margin-left: 475px;
}

#u5675-4
{
	z-index: 202;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	position: relative;
}

#u5675-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 0px 0px 0px 1px;
}

#u5644-4
{
	z-index: 182;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 31px;
	position: relative;
}

#u5644-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 31px 0px 0px;
}

#u5651-4
{
	z-index: 186;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
}

#u5651-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 24px 0px 0px;
}

#pu5677-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 85px;
	margin-left: 752px;
}

#u5677-4
{
	z-index: 234;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5657-4
{
	z-index: 230;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 66px;
	position: relative;
}

#u5640-4
{
	z-index: 226;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 63px;
	position: relative;
}

#pu5680-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 81px;
	margin-left: 799px;
}

#u5680-4
{
	z-index: 198;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5680-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 0px;
}

#u5692-4
{
	z-index: 194;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 22px;
	position: relative;
}

#u5692-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 22px 0px 0px;
}

#u5643-4
{
	z-index: 190;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 32px;
	position: relative;
}

#u5643-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 32px 0px 0px;
}

#u5641-4:hover p,#u5665-4:hover p,#u5669-4:hover p,#u5689-6:hover p,#u5664-4:hover p,#u5649-4:hover p,#u5675-4:hover p,#u5644-4:hover p,#u5651-4:hover p,#u5680-4:hover p,#u5692-4:hover p,#u5643-4:hover p
{
	text-decoration: underline;
}

#u5652-bw
{
	z-index: 48;
	margin-top: 42px;
	height: 312px;
}

#u5687
{
	z-index: 50;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
}

#u5687-bw
{
	z-index: 50;
	margin-top: 41px;
	height: 2px;
}

#u5701
{
	z-index: 54;
	width: 960px;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u5706
{
	z-index: 138;
	width: 189px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 165px;
	background: transparent url("../images/fin_kont-normal.png") no-repeat left top;
	background-size: contain;
}

#u5706:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/fin_kont-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5658
{
	z-index: 139;
	width: 156px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 643px;
	background: transparent url("../images/biz_rin-normal.png") no-repeat left top;
	background-size: contain;
}

#u5658:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/biz_rin-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5686
{
	z-index: 140;
	width: 85px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 799px;
	background: transparent url("../images/otrasl-normal.png") no-repeat left top;
	background-size: contain;
}

#u5686:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/otrasl-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5682
{
	z-index: 141;
	width: 103px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 889px;
	background: transparent url("../images/obshestvo-normal.png") no-repeat left top;
	background-size: contain;
}

#u5682:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/obshestvo-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5642
{
	z-index: 247;
	width: 175px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 351px;
	background: transparent url("../images/sec_regul-normal.png") no-repeat left top;
	background-size: contain;
}

#u5642:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/sec_regul-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5637
{
	z-index: 250;
	width: 83px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 90px;
	background: transparent url("../images/vlast-normal.png") no-repeat left top;
	background-size: contain;
}

#u5637:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/vlast-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5721
{
	z-index: 251;
	width: 68px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 998px;
}

#u5728
{
	z-index: 253;
	width: 150px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 106px;
}

#u5674
{
	z-index: 134;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
}

#u5674-bw
{
	z-index: 134;
	height: 2px;
}

#u5660
{
	z-index: 246;
	width: 172px;
	height: 27px;
	margin-left: 394px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	background: transparent url("../images/btn_allnews-normanl.png") no-repeat left top;
	background-size: contain;
}

#u5660:hover
{
	margin: 0px 0px -2px 394px;
	background: transparent url("../images/btn_allnews-rollover.png") no-repeat left top;
	background-size: contain;
}

#ppu5639-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 36px;
}

#pu5639-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u5639-4
{
	z-index: 62;
	width: 223px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u5639-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u5639-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u5633-4
{
	z-index: 114;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u5633-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u5633-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u5697
{
	z-index: 135;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u5632-8
{
	z-index: 142;
	width: 304px;
	min-height: 298px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u5632-8:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 298px;
	margin: 13px 0px 0px;
}

#pu5648-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 324px;
}

#u5648-4
{
	z-index: 70;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u5639-4:active,#u5648-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u5648-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u5708-4
{
	z-index: 122;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	color: #484848;
	font-size: 18px;
	letter-spacing: -1px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u5633-4:active,#u5708-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u5708-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u5661
{
	z-index: 137;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u5670-4
{
	z-index: 154;
	width: 304px;
	min-height: 135px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u5670-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 135px;
	margin: 13px 0px 0px;
}

#pu5748
{
	width: 0.01px;
	margin-top: 6px;
}

#u5748
{
	z-index: 256;
	width: 84px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bub_obraz-normal.png") no-repeat left top;
	background-size: contain;
}

#u5749-4
{
	z-index: 98;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 95px;
}

#u5749-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 8px -10000px 0px 0px;
}

#u5749-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#pu5671
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 648px;
}

#u5671
{
	z-index: 248;
	width: 304px;
	position: relative;
}

#u5645-4
{
	z-index: 74;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 22px;
	position: relative;
}

#u5645-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 22px 0px 0px;
}

#u5645-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 22px 0px 0px;
}

#u5645-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u5666-4
{
	z-index: 158;
	width: 304px;
	min-height: 24px;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 2px;
	position: relative;
}

#pu5750
{
	width: 0.01px;
	margin-top: 12px;
}

#u5750
{
	z-index: 257;
	width: 84px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bub_obraz-normal.png") no-repeat left top;
	background-size: contain;
}

#u5751-4
{
	z-index: 102;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 95px;
}

#u5749-4:active,#u5751-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 8px -10000px 0px 0px;
}

#u5751-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#pu5736
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: -2px;
}

#u5736
{
	z-index: 255;
	width: 84px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bub_obraz-normal.png") no-repeat left top;
	background-size: contain;
}

#u5707-4
{
	z-index: 94;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 95px;
}

#u5751-4:active,#u5707-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 8px -10000px 0px 0px;
}

#u5707-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#pu5694
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 60px;
}

#u5694
{
	z-index: 170;
	width: 628px;
	position: relative;
	margin-right: -10000px;
}

#pu5691-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 648px;
}

#u5691-4
{
	z-index: 66;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u5648-4:active,#u5691-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u5691-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u5635-4
{
	z-index: 118;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u5708-4:active,#u5635-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u5635-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u5635-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u5668
{
	z-index: 136;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u5679-4
{
	z-index: 150;
	width: 304px;
	min-height: 217px;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#ppu5693-4
{
	width: 0.01px;
	margin-left: 4px;
}

#pu5693-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u5693-4
{
	z-index: 78;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u5691-4:active,#u5693-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u5693-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u5693-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u5655-6
{
	z-index: 162;
	width: 628px;
	min-height: 48px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u5655-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 14px 0px 0px;
}

#u5632-8:hover p,#u5632-8:hover span,#u5670-4:hover p,#u5670-4:hover span,#u5655-6:hover p,#u5655-6:hover span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u5632,#u5670,#u5666,#u5679,#u5655,#u5655-3
{
	font-family: pt-serif, sans-serif;
	font-weight: 400;
}

#u5752
{
	z-index: 258;
	width: 84px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 648px;
	background: transparent url("../images/bub_obraz-normal.png") no-repeat left top;
	background-size: contain;
}

#u5752:hover
{
	margin: 6px -10000px 0px 0px;
	background: transparent url("../images/bub_obraz-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5753-4
{
	z-index: 106;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 743px;
}

#u5753-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 14px -10000px 0px 0px;
}

#u5753-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 14px -10000px 0px 0px;
}

#u5753-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#pu5754
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 8px;
}

#u5754
{
	z-index: 259;
	width: 84px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bub_obraz-normal.png") no-repeat left top;
	background-size: contain;
}

#u5748:hover,#u5750:hover,#u5736:hover,#u5754:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/bub_obraz-rollover.png") no-repeat left top;
	background-size: contain;
}

#u5755-4
{
	z-index: 110;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 95px;
}

#u5707-4:active,#u5755-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 8px -10000px 0px 0px;
}

#u5755-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 8px -10000px 0px 0px;
}

#u5755-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u5696
{
	z-index: 168;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #E8E8E8;
}

#u5696-bw
{
	z-index: 168;
	margin-top: 78px;
	height: 1px;
}

#pu5667-4
{
	width: 0.01px;
	margin-left: 450px;
	margin-top: 20px;
}

#u5667-4
{
	z-index: 82;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #00A99D;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
}

#u5667-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u5667-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u5659-4
{
	z-index: 86;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #525252;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	left: 24px;
}

#u5667-4:active,#u5659-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u5659-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u5698-4
{
	z-index: 90;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #525252;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u5659-4:active,#u5698-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u5698-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u5639-4:active p,#u5633-4:active p,#u5648-4:active p,#u5708-4:active p,#u5749-4:active p,#u5645-4:active p,#u5751-4:active p,#u5707-4:active p,#u5691-4:active p,#u5635-4:active p,#u5693-4:active p,#u5753-4:active p,#u5755-4:active p,#u5667-4:active p,#u5659-4:active p,#u5698-4:active p
{
	color: #87C9C4;
	visibility: inherit;
	text-decoration: none;
}

#u5681
{
	z-index: 169;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #E8E8E8;
}

#u5681-bw
{
	z-index: 169;
	margin-top: 14px;
	height: 1px;
}

#pu5703,#pu529
{
	width: 0.01px;
	margin-left: -100px;
}

#u529,#u529-bw
{
	z-index: 2;
	height: 232px;
}

#u540,#u540-bw
{
	z-index: 3;
	height: 232px;
}

#u2860,#u2860-bw
{
	z-index: 4;
	height: 232px;
}

#u2861
{
	z-index: 5;
	padding-bottom: 22px;
}

#u2861_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#ppu534
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 104px;
}

#pu534
{
	width: 0.01px;
}

#u534
{
	z-index: 35;
	width: 118px;
	margin-right: -10000px;
}

#u536-11
{
	z-index: 37;
	width: 679px;
	min-height: 63px;
	margin-right: -10000px;
	left: 162px;
}

#pu530-4
{
	width: 0.01px;
	margin-top: 70px;
}

#u530-4
{
	z-index: 6;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
}

#u2862-4
{
	z-index: 14;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
	left: 110px;
}

#u531-4
{
	z-index: 10;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
	left: 221px;
}

#u532-4
{
	z-index: 18;
	width: 118px;
	min-height: 18px;
	margin-right: -10000px;
	left: 329px;
}

#u539-4
{
	z-index: 22;
	width: 168px;
	min-height: 18px;
	margin-right: -10000px;
	left: 485px;
}

#u542-4
{
	z-index: 26;
	width: 202px;
	min-height: 18px;
	margin-right: -10000px;
	left: 677px;
}

#u5698-4:active,#u530-4:hover,#u2862-4:hover,#u531-4:hover,#u532-4:hover,#u539-4:hover,#u542-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u544-4
{
	z-index: 30;
	width: 48px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 192px;
	left: 1008px;
}

#u544-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 192px -10000px 0px 0px;
}

#u2861-bw
{
	z-index: 5;
	height: 210px;
}

#u533
{
	z-index: 34;
	height: 1px;
}

#u533-bw
{
	z-index: 34;
	margin-top: 169px;
	height: 1px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

