.version.sec_regul /* version checker */
{
	color: #0000FB;
	background-color: #1A008E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 502px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 2px;
}

#pu1181-4
{
	width: 0.01px;
	margin-left: 4px;
}

#u1181-4
{
	z-index: 49;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
}

#u1207
{
	z-index: 45;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	left: 376px;
}

#u1219
{
	z-index: 48;
	width: 36px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 803px;
	background: transparent url("../images/btn_search-normal.png") no-repeat left top;
	background-size: contain;
}

#u1219:hover
{
	margin: 18px -10000px 0px 0px;
	background: transparent url("../images/btn_search-rollover.png") no-repeat left top;
	background-size: contain;
}

#u1219:active
{
	margin: 18px -10000px 0px 0px;
	background: transparent url("../images/btn_search-down.png") no-repeat left top;
	background-size: contain;
}

#u1215
{
	z-index: 47;
	width: 100px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 852px;
	background: transparent url("../images/btn_login-normal.png") no-repeat left top;
	background-size: contain;
}

#u1215:hover
{
	margin: 18px -10000px 0px 0px;
	background: transparent url("../images/btn_login-rollover.png") no-repeat left top;
	background-size: contain;
}

#u1215:active
{
	margin: 18px -10000px 0px 0px;
	background: transparent url("../images/btn_login-down.png") no-repeat left top;
	background-size: contain;
}

#u1228-4
{
	z-index: 105;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 103px;
}

#u1206-4
{
	z-index: 109;
	width: 118px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 200px;
}

#u1181-4:hover,#u1228-4:hover,#u1206-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 27px -10000px 0px 0px;
}

#u1181-4:hover p,#u1228-4:hover p,#u1206-4:hover p
{
	text-decoration: underline;
}

#u1189
{
	z-index: 113;
	width: 606px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #D9D9D9;
	left: -606px;
	position: relative;
}

#pu1170
{
	width: 0.01px;
	margin-left: -606px;
	margin-top: -2px;
}

#u1170
{
	z-index: 42;
	border-style: none;
	border-color: transparent;
	background-color: #FDFCFB;
	padding-bottom: 24px;
}

#u1170_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#pu2644-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 79px;
	margin-left: 108px;
}

#u2644-4
{
	z-index: 242;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u2647-4
{
	z-index: 254;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 79px;
	position: relative;
}

#u2650-4
{
	z-index: 266;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 83px;
	position: relative;
}

#pu2635-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 75px;
	margin-left: 155px;
}

#u2635-4
{
	z-index: 206;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2638-4
{
	z-index: 218;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u2641-4
{
	z-index: 230;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#pu2645-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 79px;
	margin-left: 432px;
}

#u2645-4
{
	z-index: 246;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u2648-4
{
	z-index: 258;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 79px;
	position: relative;
}

#u2651-4
{
	z-index: 270;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 83px;
	position: relative;
}

#pu2636-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 75px;
	margin-left: 479px;
}

#u2636-4
{
	z-index: 210;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2639-4
{
	z-index: 222;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u2642-4
{
	z-index: 234;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#pu2646-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 79px;
	margin-left: 756px;
}

#u2646-4
{
	z-index: 250;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u2649-4
{
	z-index: 262;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 79px;
	position: relative;
}

#u2652-4
{
	z-index: 274;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 83px;
	position: relative;
}

#pu2637-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 75px;
	margin-left: 803px;
}

#u2637-4
{
	z-index: 214;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2640-4
{
	z-index: 226;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u2643-4
{
	z-index: 238;
	width: 257px;
	min-height: 69px;
	line-height: 21px;
	color: #686868;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u1170-bw
{
	z-index: 42;
	margin-top: 42px;
	height: 316px;
}

#u1199
{
	z-index: 43;
	width: 960px;
	position: relative;
	margin-right: -10000px;
	left: 606px;
}

#u1187
{
	z-index: 114;
	width: 606px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #D9D9D9;
	position: relative;
	margin-right: -10000px;
	left: 1566px;
}

#u1216
{
	z-index: 115;
	width: 606px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
}

#u1184
{
	z-index: 121;
	width: 606px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 1566px;
}

#u1239
{
	z-index: 122;
	width: 85px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 1305px;
	background: transparent url("../images/otrasl-normal.png") no-repeat left top;
	background-size: contain;
}

#u1239:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/otrasl-rollover.png") no-repeat left top;
	background-size: contain;
}

#u1179
{
	z-index: 123;
	width: 103px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 1395px;
	background: transparent url("../images/obshestvo-normal.png") no-repeat left top;
	background-size: contain;
}

#u1179:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/obshestvo-rollover.png") no-repeat left top;
	background-size: contain;
}

#u1176
{
	z-index: 124;
	width: 68px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 1504px;
	background: transparent url("../images/obraz-normal.png") no-repeat left top;
	background-size: contain;
}

#u1176:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/obraz-rollover.png") no-repeat left top;
	background-size: contain;
}

#u1221
{
	z-index: 194;
	width: 83px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 597px;
	background: transparent url("../images/vlast-normal.png") no-repeat left top;
	background-size: contain;
}

#u1221:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/vlast-rollover.png") no-repeat left top;
	background-size: contain;
}

#u1196
{
	z-index: 195;
	width: 189px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 679px;
	background: transparent url("../images/fin_kont-normal.png") no-repeat left top;
	background-size: contain;
}

#u1196:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/fin_kont-rollover.png") no-repeat left top;
	background-size: contain;
}

#u1256
{
	z-index: 196;
	width: 156px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 871px;
	background: transparent url("../images/biz_rin-normal.png") no-repeat left top;
	background-size: contain;
}

#u1256:hover
{
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/biz_rin-rollover.png") no-repeat left top;
	background-size: contain;
}

#u1257
{
	z-index: 197;
	width: 148px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 1157px;
}

#u1263
{
	z-index: 199;
	width: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 610px;
}

#u1164
{
	z-index: 116;
	width: 1000px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	left: -606px;
	position: relative;
}

#pu1223
{
	width: 0.01px;
	margin-left: 394px;
	margin-top: -2px;
}

#u1223
{
	z-index: 125;
	width: 172px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/btn_allnews-normal.png") no-repeat left top;
	background-size: contain;
}

#u1223:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/btn_allnews-rollover.png") no-repeat left top;
	background-size: contain;
}

#u1233
{
	z-index: 120;
	width: 1000px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
	position: relative;
	margin-right: -10000px;
	left: 172px;
}

#ppu1195-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 36px;
}

#pu1195-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u1195-4
{
	z-index: 53;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u1195-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u1195-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u1229-4
{
	z-index: 93;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	line-height: 22px;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u1229-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u1229-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u1166
{
	z-index: 117;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u1238-14
{
	z-index: 126;
	width: 304px;
	min-height: 298px;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#pu1210-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 324px;
}

#u1210-4
{
	z-index: 61;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u1195-4:active,#u1210-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u1210-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u1182-4
{
	z-index: 101;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	line-height: 22px;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u1229-4:active,#u1182-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u1182-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u1205
{
	z-index: 119;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u1240-14
{
	z-index: 154;
	width: 304px;
	min-height: 298px;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u1212
{
	z-index: 176;
	width: 304px;
	position: relative;
}

#u1236-4
{
	z-index: 65;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 22px;
	position: relative;
}

#u1236-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 22px 0px 0px;
}

#u1236-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 22px 0px 0px;
}

#u1236-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u1211-4
{
	z-index: 168;
	width: 304px;
	min-height: 48px;
	line-height: 21px;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u1269
{
	z-index: 201;
	width: 159px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/regul-normal2.png") no-repeat left top;
	background-size: contain;
}

#u1270-4
{
	z-index: 73;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 171px;
}

#u1270-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u1270-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u1272
{
	z-index: 204;
	width: 159px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	left: 324px;
	background: transparent url("../images/regul-normal2.png") no-repeat left top;
	background-size: contain;
}

#u1273-4
{
	z-index: 85;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 495px;
}

#u1270-4:active,#u1273-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u1273-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u1274
{
	z-index: 205;
	width: 159px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	left: 648px;
	background: transparent url("../images/regul-normal2.png") no-repeat left top;
	background-size: contain;
}

#u1275-4
{
	z-index: 89;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 819px;
}

#u1273-4:active,#u1275-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u1275-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#ppu1201
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 61px;
}

#pu1201
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1201
{
	z-index: 178;
	width: 628px;
	position: relative;
}

#u1226-4
{
	z-index: 69;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 21px;
	position: relative;
}

#u1226-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 21px 0px 0px;
}

#u1226-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 21px 0px 0px;
}

#u1226-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u1235-4
{
	z-index: 172;
	width: 628px;
	min-height: 48px;
	line-height: 21px;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#pu1212,#pu1242-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 648px;
}

#u1242-4
{
	z-index: 57;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u1210-4:active,#u1242-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u1242-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u1242-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u1171-4
{
	z-index: 97;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	line-height: 22px;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u1182-4:active,#u1171-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u1171-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u1171-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u1185
{
	z-index: 118;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u1197-14
{
	z-index: 140;
	width: 304px;
	min-height: 298px;
	font-size: 15px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u1238-8,#u1240-8,#u1197-8
{
	line-height: 30px;
	padding-top: 10px;
}

#u1238-2,#u1238-4,#u1238-6,#u1238-10,#u1238-12,#u1240-2,#u1240-4,#u1240-6,#u1240-10,#u1240-12,#u1197-2,#u1197-4,#u1197-6,#u1197-10,#u1197-12
{
	line-height: 21px;
}

#u1238,#u1238-11,#u1240,#u1240-11,#u1211,#u1235,#u1197,#u1197-11
{
	font-family: pt-serif, sans-serif;
	font-weight: 400;
}

#pu1269,#pu1278
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 14px;
}

#u1278
{
	z-index: 202;
	width: 159px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/regul-normal2.png") no-repeat left top;
	background-size: contain;
}

#u1279-4
{
	z-index: 77;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 171px;
}

#u1275-4:active,#u1279-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u1279-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u1282
{
	z-index: 203;
	width: 159px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	left: 648px;
	background: transparent url("../images/regul-normal2.png") no-repeat left top;
	background-size: contain;
}

#u1269:hover,#u1272:hover,#u1274:hover,#u1278:hover,#u1282:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/regul-rollover2.png") no-repeat left top;
	background-size: contain;
}

#u1283-4
{
	z-index: 81;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 819px;
}

#u1279-4:active,#u1283-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u1283-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u1283-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u1186
{
	z-index: 192;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #E8E8E8;
}

#u1186-bw
{
	z-index: 192;
	margin-top: 37px;
	height: 1px;
}

#pu1172-4
{
	width: 0.01px;
	margin-left: 450px;
	margin-top: 20px;
}

#u1172-4
{
	z-index: 180;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #00A99D;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
}

#u1172-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1172-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u1214-4
{
	z-index: 184;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #525252;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	left: 24px;
}

#u1172-4:active,#u1214-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1214-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u1227-4
{
	z-index: 188;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #525252;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u1214-4:active,#u1227-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1227-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u1195-4:active p,#u1229-4:active p,#u1210-4:active p,#u1182-4:active p,#u1236-4:active p,#u1270-4:active p,#u1273-4:active p,#u1275-4:active p,#u1226-4:active p,#u1242-4:active p,#u1171-4:active p,#u1279-4:active p,#u1283-4:active p,#u1172-4:active p,#u1214-4:active p,#u1227-4:active p
{
	color: #87C9C4;
	visibility: inherit;
	text-decoration: none;
}

#u1180
{
	z-index: 193;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #E8E8E8;
}

#u1180-bw
{
	z-index: 193;
	margin-top: 14px;
	height: 1px;
}

#pu529
{
	width: 0.01px;
	margin-left: -100px;
}

#u529,#u529-bw
{
	z-index: 2;
	height: 232px;
}

#u540
{
	z-index: 3;
	padding-bottom: 22px;
}

#u540_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu534
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 104px;
}

#u534
{
	z-index: 29;
	width: 118px;
}

#u530-4
{
	z-index: 4;
	width: 98px;
	min-height: 18px;
	margin-top: 78px;
}

#u530-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 78px 0px 0px;
}

#pu536-11
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 233px;
}

#u536-11
{
	z-index: 31;
	width: 679px;
	min-height: 63px;
	margin-left: 33px;
}

#pu531-4
{
	width: 0.01px;
	margin-top: 70px;
}

#u531-4
{
	z-index: 8;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
}

#u532-4
{
	z-index: 12;
	width: 118px;
	min-height: 18px;
	margin-right: -10000px;
	left: 126px;
}

#u539-4
{
	z-index: 16;
	width: 168px;
	min-height: 18px;
	margin-right: -10000px;
	left: 307px;
}

#u542-4
{
	z-index: 20;
	width: 202px;
	min-height: 18px;
	margin-right: -10000px;
	left: 525px;
}

#u1227-4:active,#u531-4:hover,#u532-4:hover,#u539-4:hover,#u542-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u544-4
{
	z-index: 24;
	width: 48px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 192px;
	left: 1008px;
}

#u544-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 192px -10000px 0px 0px;
}

#u540-bw
{
	z-index: 3;
	height: 210px;
}

#u533
{
	z-index: 28;
	height: 1px;
}

#u533-bw
{
	z-index: 28;
	margin-top: 169px;
	height: 1px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

