.version.vlast /* version checker */
{
	color: #0000F8;
	background-color: #D7517F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 502px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 2px;
}

#u3353
{
	z-index: 51;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
}

#u3353-bw
{
	z-index: 51;
	margin-top: 45px;
	height: 2px;
}

#u3354
{
	z-index: 52;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u3358
{
	z-index: 56;
	width: 100px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 956px;
	background: transparent url("../images/btn_login-normal.png") no-repeat left top;
	background-size: contain;
}

#u3358:hover
{
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/btn_login-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3358:active
{
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/btn_login-down.png") no-repeat left top;
	background-size: contain;
}

#u3359
{
	z-index: 57;
	width: 36px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 907px;
	background: transparent url("../images/btn_search-normal.png") no-repeat left top;
	background-size: contain;
}

#u3359:hover
{
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/btn_search-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3359:active
{
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/btn_search-down.png") no-repeat left top;
	background-size: contain;
}

#u3360-4
{
	z-index: 58;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 104px;
}

#u3392-4
{
	z-index: 126;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 343px;
}

#u3393-4
{
	z-index: 130;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 227px;
}

#u3360-4:hover,#u3392-4:hover,#u3393-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 17px -10000px 0px 0px;
}

#u3351
{
	z-index: 49;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #D9D9D9;
}

#u3351-bw
{
	z-index: 49;
	height: 2px;
}

#pu3350
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u3350
{
	z-index: 48;
	border-style: none;
	border-color: transparent;
	background-color: #FDFCFB;
	padding-bottom: 28px;
}

#u3350_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#pu3446-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 81px;
	margin-left: 108px;
}

#u3446-4
{
	z-index: 211;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3447-4
{
	z-index: 215;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 66px;
	position: relative;
}

#u3454-4
{
	z-index: 243;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 68px;
	position: relative;
}

#pu3437-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 77px;
	margin-left: 155px;
}

#u3437-6
{
	z-index: 173;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3437-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 69px;
	margin: 0px;
}

#u3438-4
{
	z-index: 179;
	width: 257px;
	min-height: 69px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u3438-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 69px;
	margin: 16px 0px 0px;
}

#u3445-4
{
	z-index: 207;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u3445-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 18px 0px 0px;
}

#pu3453-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 85px;
	margin-left: 428px;
}

#u3453-4
{
	z-index: 239;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3448-4
{
	z-index: 219;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 62px;
	position: relative;
}

#u3449-4
{
	z-index: 223;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 68px;
	position: relative;
}

#pu3444-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 81px;
	margin-left: 475px;
}

#u3444-4
{
	z-index: 203;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	position: relative;
}

#u3444-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 0px 0px 0px 1px;
}

#u3439-4
{
	z-index: 183;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 31px;
	position: relative;
}

#u3439-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 31px 0px 0px;
}

#u3440-4
{
	z-index: 187;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
}

#u3440-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 24px 0px 0px;
}

#pu3452-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 85px;
	margin-left: 752px;
}

#u3452-4
{
	z-index: 235;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3451-4
{
	z-index: 231;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 66px;
	position: relative;
}

#u3450-4
{
	z-index: 227;
	width: 47px;
	min-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 63px;
	position: relative;
}

#pu3443-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 81px;
	margin-left: 799px;
}

#u3443-4
{
	z-index: 199;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3443-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 0px;
}

#u3442-4
{
	z-index: 195;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 22px;
	position: relative;
}

#u3442-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 22px 0px 0px;
}

#u3441-4
{
	z-index: 191;
	width: 257px;
	min-height: 50px;
	background-color: transparent;
	color: #686868;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 32px;
	position: relative;
}

#u3441-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 32px 0px 0px;
}

#u3360-4:hover p,#u3392-4:hover p,#u3393-4:hover p,#u3437-6:hover p,#u3438-4:hover p,#u3445-4:hover p,#u3444-4:hover p,#u3439-4:hover p,#u3440-4:hover p,#u3443-4:hover p,#u3442-4:hover p,#u3441-4:hover p
{
	text-decoration: underline;
}

#u3350-bw
{
	z-index: 48;
	margin-top: 42px;
	height: 312px;
}

#u3352
{
	z-index: 50;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
}

#u3352-bw
{
	z-index: 50;
	margin-top: 41px;
	height: 2px;
}

#u3356
{
	z-index: 54;
	width: 960px;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u3402
{
	z-index: 138;
	width: 189px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 165px;
	background: transparent url("../images/fin_kont-normal.png") no-repeat left top;
	background-size: contain;
}

#u3402:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/fin_kont-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3403
{
	z-index: 139;
	width: 156px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 643px;
	background: transparent url("../images/biz_rin-normal.png") no-repeat left top;
	background-size: contain;
}

#u3403:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/biz_rin-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3404
{
	z-index: 140;
	width: 85px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 799px;
	background: transparent url("../images/otrasl-normal.png") no-repeat left top;
	background-size: contain;
}

#u3404:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/otrasl-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3405
{
	z-index: 141;
	width: 103px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 889px;
	background: transparent url("../images/obshestvo-normal.png") no-repeat left top;
	background-size: contain;
}

#u3405:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/obshestvo-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3406
{
	z-index: 142;
	width: 68px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 998px;
	background: transparent url("../images/obraz-normal.png") no-repeat left top;
	background-size: contain;
}

#u3406:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/obraz-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3456
{
	z-index: 248;
	width: 175px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 351px;
	background: transparent url("../images/sec_regul-normal.png") no-repeat left top;
	background-size: contain;
}

#u3456:hover
{
	margin: 9px -10000px 0px 0px;
	background: transparent url("../images/sec_regul-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3481
{
	z-index: 251;
	width: 83px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 87px;
}

#u3499
{
	z-index: 258;
	width: 159px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 106px;
}

#u3394
{
	z-index: 134;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9FE0DD;
}

#u3394-bw
{
	z-index: 134;
	height: 2px;
}

#u3455
{
	z-index: 247;
	width: 172px;
	height: 27px;
	margin-left: 394px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	background: transparent url("../images/btn_allnews-normanl.png") no-repeat left top;
	background-size: contain;
}

#u3455:hover
{
	margin: 0px 0px -2px 394px;
	background: transparent url("../images/btn_allnews-rollover.png") no-repeat left top;
	background-size: contain;
}

#ppu3361-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 36px;
}

#pu3361-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u3361-4
{
	z-index: 62;
	width: 223px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u3361-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u3361-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3386-4
{
	z-index: 114;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u3386-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u3386-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3395
{
	z-index: 135;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u3407-8
{
	z-index: 143;
	width: 304px;
	min-height: 298px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3407-8:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 298px;
	margin: 13px 0px 0px;
}

#pu3365-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 324px;
}

#u3365-4
{
	z-index: 70;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u3361-4:active,#u3365-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u3365-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3390-4
{
	z-index: 122;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	color: #484848;
	font-size: 18px;
	letter-spacing: -1px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u3386-4:active,#u3390-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u3390-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3399
{
	z-index: 137;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u3411-4
{
	z-index: 155;
	width: 304px;
	min-height: 135px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3411-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 135px;
	margin: 13px 0px 0px;
}

#pu3505
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 9px;
}

#u3505
{
	z-index: 256;
	width: 90px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bub_vlast-normal.png") no-repeat left top;
	background-size: contain;
}

#u3380-4
{
	z-index: 102;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 101px;
}

#u3380-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 8px -10000px 0px 0px;
}

#u3380-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#pu3461
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 648px;
}

#u3461
{
	z-index: 249;
	width: 304px;
	position: relative;
}

#u3367-4
{
	z-index: 74;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 22px;
	position: relative;
}

#u3367-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 22px 0px 0px;
}

#u3367-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 22px 0px 0px;
}

#u3367-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3413-4
{
	z-index: 159;
	width: 304px;
	min-height: 24px;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 2px;
	position: relative;
}

#pu3506
{
	width: 0.01px;
	margin-top: 17px;
}

#u3506
{
	z-index: 257;
	width: 90px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bub_vlast-normal.png") no-repeat left top;
	background-size: contain;
}

#u3382-4
{
	z-index: 106;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 101px;
}

#u3380-4:active,#u3382-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 8px -10000px 0px 0px;
}

#u3382-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 8px -10000px 0px 0px;
}

#u3382-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#pu3487
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: -6px;
}

#u3487
{
	z-index: 253;
	width: 90px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bub_vlast-normal.png") no-repeat left top;
	background-size: contain;
}

#u3376-4
{
	z-index: 94;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 102px;
}

#u3376-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u3376-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#pu3433
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 61px;
}

#u3433
{
	z-index: 171;
	width: 628px;
	position: relative;
	margin-right: -10000px;
}

#pu3363-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 648px;
}

#u3363-4
{
	z-index: 66;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
}

#u3365-4:active,#u3363-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u3363-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u3363-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3388-4
{
	z-index: 118;
	width: 304px;
	min-height: 18px;
	background-color: transparent;
	color: #484848;
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 12px;
	position: relative;
}

#u3390-4:active,#u3388-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u3388-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px 0px 0px;
}

#u3388-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3397
{
	z-index: 136;
	width: 61px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7AE1DE;
	margin-top: 19px;
	position: relative;
}

#u3409-4
{
	z-index: 151;
	width: 304px;
	min-height: 217px;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3369-4
{
	z-index: 78;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-left: 4px;
	position: relative;
}

#u3369-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px 0px 0px 4px;
}

#u3369-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px 0px 0px 4px;
}

#u3369-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#pu3415-6
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: -5px;
}

#u3415-6
{
	z-index: 163;
	width: 628px;
	min-height: 48px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u3415-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 19px -10000px 0px 0px;
}

#u3407-8:hover p,#u3407-8:hover span,#u3411-4:hover p,#u3411-4:hover span,#u3415-6:hover p,#u3415-6:hover span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u3407,#u3411,#u3413,#u3409,#u3415,#u3415-3
{
	font-family: pt-serif, sans-serif;
	font-weight: 400;
}

#u3509
{
	z-index: 255;
	width: 90px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	left: 649px;
	background: transparent url("../images/bub_vlast-normal.png") no-repeat left top;
	background-size: contain;
}

#u3378-4
{
	z-index: 98;
	width: 78px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 747px;
}

#u3376-4:active,#u3378-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u3378-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 9px -10000px 0px 0px;
}

#u3378-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#pu3508
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 11px;
}

#u3508
{
	z-index: 254;
	width: 90px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bub_vlast-normal.png") no-repeat left top;
	background-size: contain;
}

#u3505:hover,#u3506:hover,#u3487:hover,#u3509:hover,#u3508:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/bub_vlast-rollover.png") no-repeat left top;
	background-size: contain;
}

#u3384-4
{
	z-index: 110;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 97px;
}

#u3384-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 11px -10000px 0px 0px;
}

#u3384-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 11px -10000px 0px 0px;
}

#u3384-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3430
{
	z-index: 169;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #E8E8E8;
}

#u3430-bw
{
	z-index: 169;
	margin-top: 74px;
	height: 1px;
}

#pu3371-4
{
	width: 0.01px;
	margin-left: 450px;
	margin-top: 20px;
}

#u3371-4
{
	z-index: 82;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #00A99D;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
}

#u3371-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u3371-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3372-4
{
	z-index: 86;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #525252;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	left: 24px;
}

#u3371-4:active,#u3372-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u3372-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3373-4
{
	z-index: 90;
	width: 13px;
	min-height: 18px;
	background-color: transparent;
	color: #525252;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u3372-4:active,#u3373-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u3373-4:hover p
{
	color: #87C9C4;
	visibility: inherit;
}

#u3361-4:active p,#u3386-4:active p,#u3365-4:active p,#u3390-4:active p,#u3380-4:active p,#u3367-4:active p,#u3382-4:active p,#u3376-4:active p,#u3363-4:active p,#u3388-4:active p,#u3369-4:active p,#u3378-4:active p,#u3384-4:active p,#u3371-4:active p,#u3372-4:active p,#u3373-4:active p
{
	color: #87C9C4;
	visibility: inherit;
	text-decoration: none;
}

#u3431
{
	z-index: 170;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #E8E8E8;
}

#u3431-bw
{
	z-index: 170;
	margin-top: 14px;
	height: 1px;
}

#pu3353,#pu529
{
	width: 0.01px;
	margin-left: -100px;
}

#u529,#u529-bw
{
	z-index: 2;
	height: 232px;
}

#u540,#u540-bw
{
	z-index: 3;
	height: 232px;
}

#u2860,#u2860-bw
{
	z-index: 4;
	height: 232px;
}

#u2861
{
	z-index: 5;
	padding-bottom: 22px;
}

#u2861_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#ppu534
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 104px;
}

#pu534
{
	width: 0.01px;
}

#u534
{
	z-index: 35;
	width: 118px;
	margin-right: -10000px;
}

#u536-11
{
	z-index: 37;
	width: 679px;
	min-height: 63px;
	margin-right: -10000px;
	left: 162px;
}

#pu530-4
{
	width: 0.01px;
	margin-top: 70px;
}

#u530-4
{
	z-index: 6;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
}

#u2862-4
{
	z-index: 14;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
	left: 110px;
}

#u531-4
{
	z-index: 10;
	width: 98px;
	min-height: 18px;
	margin-right: -10000px;
	left: 221px;
}

#u532-4
{
	z-index: 18;
	width: 118px;
	min-height: 18px;
	margin-right: -10000px;
	left: 329px;
}

#u539-4
{
	z-index: 22;
	width: 168px;
	min-height: 18px;
	margin-right: -10000px;
	left: 485px;
}

#u542-4
{
	z-index: 26;
	width: 202px;
	min-height: 18px;
	margin-right: -10000px;
	left: 677px;
}

#u3373-4:active,#u530-4:hover,#u2862-4:hover,#u531-4:hover,#u532-4:hover,#u539-4:hover,#u542-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u544-4
{
	z-index: 30;
	width: 48px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 192px;
	left: 1008px;
}

#u544-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 192px -10000px 0px 0px;
}

#u2861-bw
{
	z-index: 5;
	height: 210px;
}

#u533
{
	z-index: 34;
	height: 1px;
}

#u533-bw
{
	z-index: 34;
	margin-top: 169px;
	height: 1px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

